=begin
#Late API

#API reference for Late. Authenticate with a Bearer API key. Base URL: https://getlate.dev/api 

The version of the OpenAPI document: 1.0.1
Contact: support@getlate.dev
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Late
  class CommentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete comment
    # Delete a comment on a post. Supported by Facebook, Instagram, Bluesky, Reddit, YouTube, and LinkedIn. Requires accountId and commentId query parameters. 
    # @param post_id [String] Late post ID or platform-specific post ID. LinkedIn third-party posts accept full activity URN or numeric ID.
    # @param account_id [String] 
    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteInboxComment200Response]
    def delete_inbox_comment(post_id, account_id, comment_id, opts = {})
      data, _status_code, _headers = delete_inbox_comment_with_http_info(post_id, account_id, comment_id, opts)
      data
    end

    # Delete comment
    # Delete a comment on a post. Supported by Facebook, Instagram, Bluesky, Reddit, YouTube, and LinkedIn. Requires accountId and commentId query parameters. 
    # @param post_id [String] Late post ID or platform-specific post ID. LinkedIn third-party posts accept full activity URN or numeric ID.
    # @param account_id [String] 
    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteInboxComment200Response, Integer, Hash)>] DeleteInboxComment200Response data, response status code and response headers
    def delete_inbox_comment_with_http_info(post_id, account_id, comment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommentsApi.delete_inbox_comment ...'
      end
      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling CommentsApi.delete_inbox_comment"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CommentsApi.delete_inbox_comment"
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling CommentsApi.delete_inbox_comment"
      end
      # resource path
      local_var_path = '/v1/inbox/comments/{postId}'.sub('{' + 'postId' + '}', CGI.escape(post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'commentId'] = comment_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteInboxComment200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommentsApi.delete_inbox_comment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommentsApi#delete_inbox_comment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get post comments
    # Fetch comments for a specific post. Requires accountId query parameter.
    # @param post_id [String] Late post ID or platform-specific post ID. Late IDs are auto-resolved. LinkedIn third-party posts accept full activity URN or numeric ID.
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :subreddit (Reddit only) Subreddit name
    # @option opts [Integer] :limit Maximum number of comments to return (default to 25)
    # @option opts [String] :cursor Pagination cursor
    # @option opts [String] :comment_id (Reddit only) Get replies to a specific comment
    # @return [GetInboxPostComments200Response]
    def get_inbox_post_comments(post_id, account_id, opts = {})
      data, _status_code, _headers = get_inbox_post_comments_with_http_info(post_id, account_id, opts)
      data
    end

    # Get post comments
    # Fetch comments for a specific post. Requires accountId query parameter.
    # @param post_id [String] Late post ID or platform-specific post ID. Late IDs are auto-resolved. LinkedIn third-party posts accept full activity URN or numeric ID.
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :subreddit (Reddit only) Subreddit name
    # @option opts [Integer] :limit Maximum number of comments to return (default to 25)
    # @option opts [String] :cursor Pagination cursor
    # @option opts [String] :comment_id (Reddit only) Get replies to a specific comment
    # @return [Array<(GetInboxPostComments200Response, Integer, Hash)>] GetInboxPostComments200Response data, response status code and response headers
    def get_inbox_post_comments_with_http_info(post_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommentsApi.get_inbox_post_comments ...'
      end
      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling CommentsApi.get_inbox_post_comments"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CommentsApi.get_inbox_post_comments"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CommentsApi.get_inbox_post_comments, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CommentsApi.get_inbox_post_comments, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/inbox/comments/{postId}'.sub('{' + 'postId' + '}', CGI.escape(post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'subreddit'] = opts[:'subreddit'] if !opts[:'subreddit'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'commentId'] = opts[:'comment_id'] if !opts[:'comment_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetInboxPostComments200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommentsApi.get_inbox_post_comments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommentsApi#get_inbox_post_comments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Hide comment
    # Hide a comment on a post. Supported by Facebook, Instagram, and Threads. Hidden comments are only visible to the commenter and page admin. 
    # @param post_id [String] 
    # @param comment_id [String] 
    # @param hide_inbox_comment_request [HideInboxCommentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [HideInboxComment200Response]
    def hide_inbox_comment(post_id, comment_id, hide_inbox_comment_request, opts = {})
      data, _status_code, _headers = hide_inbox_comment_with_http_info(post_id, comment_id, hide_inbox_comment_request, opts)
      data
    end

    # Hide comment
    # Hide a comment on a post. Supported by Facebook, Instagram, and Threads. Hidden comments are only visible to the commenter and page admin. 
    # @param post_id [String] 
    # @param comment_id [String] 
    # @param hide_inbox_comment_request [HideInboxCommentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(HideInboxComment200Response, Integer, Hash)>] HideInboxComment200Response data, response status code and response headers
    def hide_inbox_comment_with_http_info(post_id, comment_id, hide_inbox_comment_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommentsApi.hide_inbox_comment ...'
      end
      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling CommentsApi.hide_inbox_comment"
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling CommentsApi.hide_inbox_comment"
      end
      # verify the required parameter 'hide_inbox_comment_request' is set
      if @api_client.config.client_side_validation && hide_inbox_comment_request.nil?
        fail ArgumentError, "Missing the required parameter 'hide_inbox_comment_request' when calling CommentsApi.hide_inbox_comment"
      end
      # resource path
      local_var_path = '/v1/inbox/comments/{postId}/{commentId}/hide'.sub('{' + 'postId' + '}', CGI.escape(post_id.to_s)).sub('{' + 'commentId' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(hide_inbox_comment_request)

      # return_type
      return_type = opts[:debug_return_type] || 'HideInboxComment200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommentsApi.hide_inbox_comment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommentsApi#hide_inbox_comment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Like comment
    # Like or upvote a comment on a post. Supported platforms: Facebook, Twitter/X, Bluesky, Reddit. For Bluesky, the cid (content identifier) is required in the request body. 
    # @param post_id [String] 
    # @param comment_id [String] 
    # @param like_inbox_comment_request [LikeInboxCommentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [LikeInboxComment200Response]
    def like_inbox_comment(post_id, comment_id, like_inbox_comment_request, opts = {})
      data, _status_code, _headers = like_inbox_comment_with_http_info(post_id, comment_id, like_inbox_comment_request, opts)
      data
    end

    # Like comment
    # Like or upvote a comment on a post. Supported platforms: Facebook, Twitter/X, Bluesky, Reddit. For Bluesky, the cid (content identifier) is required in the request body. 
    # @param post_id [String] 
    # @param comment_id [String] 
    # @param like_inbox_comment_request [LikeInboxCommentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LikeInboxComment200Response, Integer, Hash)>] LikeInboxComment200Response data, response status code and response headers
    def like_inbox_comment_with_http_info(post_id, comment_id, like_inbox_comment_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommentsApi.like_inbox_comment ...'
      end
      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling CommentsApi.like_inbox_comment"
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling CommentsApi.like_inbox_comment"
      end
      # verify the required parameter 'like_inbox_comment_request' is set
      if @api_client.config.client_side_validation && like_inbox_comment_request.nil?
        fail ArgumentError, "Missing the required parameter 'like_inbox_comment_request' when calling CommentsApi.like_inbox_comment"
      end
      # resource path
      local_var_path = '/v1/inbox/comments/{postId}/{commentId}/like'.sub('{' + 'postId' + '}', CGI.escape(post_id.to_s)).sub('{' + 'commentId' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(like_inbox_comment_request)

      # return_type
      return_type = opts[:debug_return_type] || 'LikeInboxComment200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommentsApi.like_inbox_comment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommentsApi#like_inbox_comment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List commented posts
    # Returns posts with comment counts from all connected accounts. Aggregates data across multiple accounts.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :profile_id Filter by profile ID
    # @option opts [String] :platform Filter by platform
    # @option opts [Integer] :min_comments Minimum comment count
    # @option opts [Time] :since Posts created after this date
    # @option opts [String] :sort_by Sort field (default to 'date')
    # @option opts [String] :sort_order Sort order (default to 'desc')
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :cursor 
    # @option opts [String] :account_id Filter by specific social account ID
    # @return [ListInboxComments200Response]
    def list_inbox_comments(opts = {})
      data, _status_code, _headers = list_inbox_comments_with_http_info(opts)
      data
    end

    # List commented posts
    # Returns posts with comment counts from all connected accounts. Aggregates data across multiple accounts.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :profile_id Filter by profile ID
    # @option opts [String] :platform Filter by platform
    # @option opts [Integer] :min_comments Minimum comment count
    # @option opts [Time] :since Posts created after this date
    # @option opts [String] :sort_by Sort field (default to 'date')
    # @option opts [String] :sort_order Sort order (default to 'desc')
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :cursor 
    # @option opts [String] :account_id Filter by specific social account ID
    # @return [Array<(ListInboxComments200Response, Integer, Hash)>] ListInboxComments200Response data, response status code and response headers
    def list_inbox_comments_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommentsApi.list_inbox_comments ...'
      end
      allowable_values = ["facebook", "instagram", "twitter", "bluesky", "threads", "youtube", "linkedin", "reddit"]
      if @api_client.config.client_side_validation && opts[:'platform'] && !allowable_values.include?(opts[:'platform'])
        fail ArgumentError, "invalid value for \"platform\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'min_comments'].nil? && opts[:'min_comments'] < 0
        fail ArgumentError, 'invalid value for "opts[:"min_comments"]" when calling CommentsApi.list_inbox_comments, must be greater than or equal to 0.'
      end

      allowable_values = ["date", "comments"]
      if @api_client.config.client_side_validation && opts[:'sort_by'] && !allowable_values.include?(opts[:'sort_by'])
        fail ArgumentError, "invalid value for \"sort_by\", must be one of #{allowable_values}"
      end
      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_order'] && !allowable_values.include?(opts[:'sort_order'])
        fail ArgumentError, "invalid value for \"sort_order\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CommentsApi.list_inbox_comments, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CommentsApi.list_inbox_comments, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/inbox/comments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'profileId'] = opts[:'profile_id'] if !opts[:'profile_id'].nil?
      query_params[:'platform'] = opts[:'platform'] if !opts[:'platform'].nil?
      query_params[:'minComments'] = opts[:'min_comments'] if !opts[:'min_comments'].nil?
      query_params[:'since'] = opts[:'since'] if !opts[:'since'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'sortOrder'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListInboxComments200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommentsApi.list_inbox_comments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommentsApi#list_inbox_comments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reply to comment
    # Post a reply to a post or specific comment. Requires accountId in request body.
    # @param post_id [String] Late post ID or platform-specific post ID. LinkedIn third-party posts accept full activity URN or numeric ID.
    # @param reply_to_inbox_post_request [ReplyToInboxPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ReplyToInboxPost200Response]
    def reply_to_inbox_post(post_id, reply_to_inbox_post_request, opts = {})
      data, _status_code, _headers = reply_to_inbox_post_with_http_info(post_id, reply_to_inbox_post_request, opts)
      data
    end

    # Reply to comment
    # Post a reply to a post or specific comment. Requires accountId in request body.
    # @param post_id [String] Late post ID or platform-specific post ID. LinkedIn third-party posts accept full activity URN or numeric ID.
    # @param reply_to_inbox_post_request [ReplyToInboxPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReplyToInboxPost200Response, Integer, Hash)>] ReplyToInboxPost200Response data, response status code and response headers
    def reply_to_inbox_post_with_http_info(post_id, reply_to_inbox_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommentsApi.reply_to_inbox_post ...'
      end
      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling CommentsApi.reply_to_inbox_post"
      end
      # verify the required parameter 'reply_to_inbox_post_request' is set
      if @api_client.config.client_side_validation && reply_to_inbox_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'reply_to_inbox_post_request' when calling CommentsApi.reply_to_inbox_post"
      end
      # resource path
      local_var_path = '/v1/inbox/comments/{postId}'.sub('{' + 'postId' + '}', CGI.escape(post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reply_to_inbox_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ReplyToInboxPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommentsApi.reply_to_inbox_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommentsApi#reply_to_inbox_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send private reply
    # Send a private message to the author of a comment. Supported on Instagram and Facebook only. One reply per comment, must be sent within 7 days, text only.
    # @param post_id [String] The media/post ID (Instagram media ID or Facebook post ID)
    # @param comment_id [String] The comment ID to send a private reply to
    # @param send_private_reply_to_comment_request [SendPrivateReplyToCommentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SendPrivateReplyToComment200Response]
    def send_private_reply_to_comment(post_id, comment_id, send_private_reply_to_comment_request, opts = {})
      data, _status_code, _headers = send_private_reply_to_comment_with_http_info(post_id, comment_id, send_private_reply_to_comment_request, opts)
      data
    end

    # Send private reply
    # Send a private message to the author of a comment. Supported on Instagram and Facebook only. One reply per comment, must be sent within 7 days, text only.
    # @param post_id [String] The media/post ID (Instagram media ID or Facebook post ID)
    # @param comment_id [String] The comment ID to send a private reply to
    # @param send_private_reply_to_comment_request [SendPrivateReplyToCommentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SendPrivateReplyToComment200Response, Integer, Hash)>] SendPrivateReplyToComment200Response data, response status code and response headers
    def send_private_reply_to_comment_with_http_info(post_id, comment_id, send_private_reply_to_comment_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommentsApi.send_private_reply_to_comment ...'
      end
      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling CommentsApi.send_private_reply_to_comment"
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling CommentsApi.send_private_reply_to_comment"
      end
      # verify the required parameter 'send_private_reply_to_comment_request' is set
      if @api_client.config.client_side_validation && send_private_reply_to_comment_request.nil?
        fail ArgumentError, "Missing the required parameter 'send_private_reply_to_comment_request' when calling CommentsApi.send_private_reply_to_comment"
      end
      # resource path
      local_var_path = '/v1/inbox/comments/{postId}/{commentId}/private-reply'.sub('{' + 'postId' + '}', CGI.escape(post_id.to_s)).sub('{' + 'commentId' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(send_private_reply_to_comment_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SendPrivateReplyToComment200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommentsApi.send_private_reply_to_comment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommentsApi#send_private_reply_to_comment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Unhide comment
    # Unhide a previously hidden comment. Supported by Facebook, Instagram, and Threads. 
    # @param post_id [String] 
    # @param comment_id [String] 
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [HideInboxComment200Response]
    def unhide_inbox_comment(post_id, comment_id, account_id, opts = {})
      data, _status_code, _headers = unhide_inbox_comment_with_http_info(post_id, comment_id, account_id, opts)
      data
    end

    # Unhide comment
    # Unhide a previously hidden comment. Supported by Facebook, Instagram, and Threads. 
    # @param post_id [String] 
    # @param comment_id [String] 
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(HideInboxComment200Response, Integer, Hash)>] HideInboxComment200Response data, response status code and response headers
    def unhide_inbox_comment_with_http_info(post_id, comment_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommentsApi.unhide_inbox_comment ...'
      end
      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling CommentsApi.unhide_inbox_comment"
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling CommentsApi.unhide_inbox_comment"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CommentsApi.unhide_inbox_comment"
      end
      # resource path
      local_var_path = '/v1/inbox/comments/{postId}/{commentId}/hide'.sub('{' + 'postId' + '}', CGI.escape(post_id.to_s)).sub('{' + 'commentId' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'HideInboxComment200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommentsApi.unhide_inbox_comment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommentsApi#unhide_inbox_comment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Unlike comment
    # Remove a like from a comment. Supported platforms: Facebook, Twitter/X, Bluesky, Reddit. For Bluesky, the likeUri query parameter is required. 
    # @param post_id [String] 
    # @param comment_id [String] 
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :like_uri (Bluesky only) The like URI returned when liking
    # @return [UnlikeInboxComment200Response]
    def unlike_inbox_comment(post_id, comment_id, account_id, opts = {})
      data, _status_code, _headers = unlike_inbox_comment_with_http_info(post_id, comment_id, account_id, opts)
      data
    end

    # Unlike comment
    # Remove a like from a comment. Supported platforms: Facebook, Twitter/X, Bluesky, Reddit. For Bluesky, the likeUri query parameter is required. 
    # @param post_id [String] 
    # @param comment_id [String] 
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :like_uri (Bluesky only) The like URI returned when liking
    # @return [Array<(UnlikeInboxComment200Response, Integer, Hash)>] UnlikeInboxComment200Response data, response status code and response headers
    def unlike_inbox_comment_with_http_info(post_id, comment_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommentsApi.unlike_inbox_comment ...'
      end
      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling CommentsApi.unlike_inbox_comment"
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling CommentsApi.unlike_inbox_comment"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CommentsApi.unlike_inbox_comment"
      end
      # resource path
      local_var_path = '/v1/inbox/comments/{postId}/{commentId}/like'.sub('{' + 'postId' + '}', CGI.escape(post_id.to_s)).sub('{' + 'commentId' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'likeUri'] = opts[:'like_uri'] if !opts[:'like_uri'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UnlikeInboxComment200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommentsApi.unlike_inbox_comment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommentsApi#unlike_inbox_comment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
