=begin
#Late API

#API reference for Late. Authenticate with a Bearer API key. Base URL: https://getlate.dev/api 

The version of the OpenAPI document: 1.0.1

Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Late
  class GMBMediaApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Upload a photo to Google Business Profile
    # Creates a media item (photo) for a location from a publicly accessible URL.  Categories determine where the photo appears: - `COVER` - Cover photo - `PROFILE` - Profile photo - `LOGO` - Business logo - `EXTERIOR` - Exterior shots - `INTERIOR` - Interior shots - `FOOD_AND_DRINK` - Food and drink photos - `MENU` - Menu photos - `PRODUCT` - Product photos - `TEAMS` - Team/staff photos - `ADDITIONAL` - Other photos 
    # @param account_id [String] 
    # @param create_google_business_media_request [CreateGoogleBusinessMediaRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateGoogleBusinessMedia200Response]
    def create_google_business_media(account_id, create_google_business_media_request, opts = {})
      data, _status_code, _headers = create_google_business_media_with_http_info(account_id, create_google_business_media_request, opts)
      data
    end

    # Upload a photo to Google Business Profile
    # Creates a media item (photo) for a location from a publicly accessible URL.  Categories determine where the photo appears: - &#x60;COVER&#x60; - Cover photo - &#x60;PROFILE&#x60; - Profile photo - &#x60;LOGO&#x60; - Business logo - &#x60;EXTERIOR&#x60; - Exterior shots - &#x60;INTERIOR&#x60; - Interior shots - &#x60;FOOD_AND_DRINK&#x60; - Food and drink photos - &#x60;MENU&#x60; - Menu photos - &#x60;PRODUCT&#x60; - Product photos - &#x60;TEAMS&#x60; - Team/staff photos - &#x60;ADDITIONAL&#x60; - Other photos 
    # @param account_id [String] 
    # @param create_google_business_media_request [CreateGoogleBusinessMediaRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateGoogleBusinessMedia200Response, Integer, Hash)>] CreateGoogleBusinessMedia200Response data, response status code and response headers
    def create_google_business_media_with_http_info(account_id, create_google_business_media_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GMBMediaApi.create_google_business_media ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling GMBMediaApi.create_google_business_media"
      end
      # verify the required parameter 'create_google_business_media_request' is set
      if @api_client.config.client_side_validation && create_google_business_media_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_google_business_media_request' when calling GMBMediaApi.create_google_business_media"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/gmb-media'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_google_business_media_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateGoogleBusinessMedia200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GMBMediaApi.create_google_business_media",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GMBMediaApi#create_google_business_media\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a photo from Google Business Profile
    # @param account_id [String] 
    # @param media_id [String] The media item ID to delete
    # @param [Hash] opts the optional parameters
    # @return [DeleteGoogleBusinessMedia200Response]
    def delete_google_business_media(account_id, media_id, opts = {})
      data, _status_code, _headers = delete_google_business_media_with_http_info(account_id, media_id, opts)
      data
    end

    # Delete a photo from Google Business Profile
    # @param account_id [String] 
    # @param media_id [String] The media item ID to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteGoogleBusinessMedia200Response, Integer, Hash)>] DeleteGoogleBusinessMedia200Response data, response status code and response headers
    def delete_google_business_media_with_http_info(account_id, media_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GMBMediaApi.delete_google_business_media ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling GMBMediaApi.delete_google_business_media"
      end
      # verify the required parameter 'media_id' is set
      if @api_client.config.client_side_validation && media_id.nil?
        fail ArgumentError, "Missing the required parameter 'media_id' when calling GMBMediaApi.delete_google_business_media"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/gmb-media'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'mediaId'] = media_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteGoogleBusinessMedia200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GMBMediaApi.delete_google_business_media",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GMBMediaApi#delete_google_business_media\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Google Business Profile media (photos)
    # Lists media items (photos) for a Google Business Profile location. Returns photo URLs, descriptions, categories, and metadata. 
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Number of items to return (max 100) (default to 100)
    # @option opts [String] :page_token Pagination token from previous response
    # @return [ListGoogleBusinessMedia200Response]
    def list_google_business_media(account_id, opts = {})
      data, _status_code, _headers = list_google_business_media_with_http_info(account_id, opts)
      data
    end

    # List Google Business Profile media (photos)
    # Lists media items (photos) for a Google Business Profile location. Returns photo URLs, descriptions, categories, and metadata. 
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Number of items to return (max 100) (default to 100)
    # @option opts [String] :page_token Pagination token from previous response
    # @return [Array<(ListGoogleBusinessMedia200Response, Integer, Hash)>] ListGoogleBusinessMedia200Response data, response status code and response headers
    def list_google_business_media_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GMBMediaApi.list_google_business_media ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling GMBMediaApi.list_google_business_media"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling GMBMediaApi.list_google_business_media, must be smaller than or equal to 100.'
      end

      # resource path
      local_var_path = '/v1/accounts/{accountId}/gmb-media'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'pageToken'] = opts[:'page_token'] if !opts[:'page_token'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListGoogleBusinessMedia200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GMBMediaApi.list_google_business_media",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GMBMediaApi#list_google_business_media\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
