=begin
#Late API

#API reference for Late. Authenticate with a Bearer API key. Base URL: https://getlate.dev/api 

The version of the OpenAPI document: 1.0.1
Contact: support@getlate.dev
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Late
  class GMBLocationDetailsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Google Business Profile location details
    # Fetches detailed location information including opening hours, special hours, business description, phone numbers, website, categories, and more.  Use the `readMask` query parameter to request specific fields. 
    # @param account_id [String] The Late account ID (from /v1/accounts)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :read_mask Comma-separated fields to return. Defaults to common fields. Available: name, title, phoneNumbers, categories, storefrontAddress, websiteUri, regularHours, specialHours, serviceArea, profile, openInfo, metadata, moreHours 
    # @return [GetGoogleBusinessLocationDetails200Response]
    def get_google_business_location_details(account_id, opts = {})
      data, _status_code, _headers = get_google_business_location_details_with_http_info(account_id, opts)
      data
    end

    # Get Google Business Profile location details
    # Fetches detailed location information including opening hours, special hours, business description, phone numbers, website, categories, and more.  Use the &#x60;readMask&#x60; query parameter to request specific fields. 
    # @param account_id [String] The Late account ID (from /v1/accounts)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :read_mask Comma-separated fields to return. Defaults to common fields. Available: name, title, phoneNumbers, categories, storefrontAddress, websiteUri, regularHours, specialHours, serviceArea, profile, openInfo, metadata, moreHours 
    # @return [Array<(GetGoogleBusinessLocationDetails200Response, Integer, Hash)>] GetGoogleBusinessLocationDetails200Response data, response status code and response headers
    def get_google_business_location_details_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GMBLocationDetailsApi.get_google_business_location_details ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling GMBLocationDetailsApi.get_google_business_location_details"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/gmb-location-details'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'readMask'] = opts[:'read_mask'] if !opts[:'read_mask'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetGoogleBusinessLocationDetails200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GMBLocationDetailsApi.get_google_business_location_details",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GMBLocationDetailsApi#get_google_business_location_details\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Google Business Profile location details
    # Updates location details such as opening hours, special hours, business description, phone, and website.  The `updateMask` field is required and specifies which fields to update.  Common update masks: - `regularHours` - Update opening hours - `specialHours` - Update holiday/special hours - `profile.description` - Update business description - `websiteUri` - Update website URL - `phoneNumbers` - Update phone numbers - `regularHours,specialHours` - Update both at once 
    # @param account_id [String] The Late account ID (from /v1/accounts)
    # @param update_google_business_location_details_request [UpdateGoogleBusinessLocationDetailsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateGoogleBusinessLocationDetails200Response]
    def update_google_business_location_details(account_id, update_google_business_location_details_request, opts = {})
      data, _status_code, _headers = update_google_business_location_details_with_http_info(account_id, update_google_business_location_details_request, opts)
      data
    end

    # Update Google Business Profile location details
    # Updates location details such as opening hours, special hours, business description, phone, and website.  The &#x60;updateMask&#x60; field is required and specifies which fields to update.  Common update masks: - &#x60;regularHours&#x60; - Update opening hours - &#x60;specialHours&#x60; - Update holiday/special hours - &#x60;profile.description&#x60; - Update business description - &#x60;websiteUri&#x60; - Update website URL - &#x60;phoneNumbers&#x60; - Update phone numbers - &#x60;regularHours,specialHours&#x60; - Update both at once 
    # @param account_id [String] The Late account ID (from /v1/accounts)
    # @param update_google_business_location_details_request [UpdateGoogleBusinessLocationDetailsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateGoogleBusinessLocationDetails200Response, Integer, Hash)>] UpdateGoogleBusinessLocationDetails200Response data, response status code and response headers
    def update_google_business_location_details_with_http_info(account_id, update_google_business_location_details_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GMBLocationDetailsApi.update_google_business_location_details ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling GMBLocationDetailsApi.update_google_business_location_details"
      end
      # verify the required parameter 'update_google_business_location_details_request' is set
      if @api_client.config.client_side_validation && update_google_business_location_details_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_google_business_location_details_request' when calling GMBLocationDetailsApi.update_google_business_location_details"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/gmb-location-details'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_google_business_location_details_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateGoogleBusinessLocationDetails200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GMBLocationDetailsApi.update_google_business_location_details",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GMBLocationDetailsApi#update_google_business_location_details\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
