=begin
#Late API

#API reference for Late. Authenticate with a Bearer API key. Base URL: https://getlate.dev/api 

The version of the OpenAPI document: 1.0.1
Contact: support@getlate.dev
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Late
  class PostsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Validate and schedule multiple posts from CSV
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :dry_run  (default to false)
    # @option opts [File] :file 
    # @return [BulkUploadPosts200Response]
    def bulk_upload_posts(opts = {})
      data, _status_code, _headers = bulk_upload_posts_with_http_info(opts)
      data
    end

    # Validate and schedule multiple posts from CSV
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :dry_run  (default to false)
    # @option opts [File] :file 
    # @return [Array<(BulkUploadPosts200Response, Integer, Hash)>] BulkUploadPosts200Response data, response status code and response headers
    def bulk_upload_posts_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsApi.bulk_upload_posts ...'
      end
      # resource path
      local_var_path = '/v1/posts/bulk-upload'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'dryRun'] = opts[:'dry_run'] if !opts[:'dry_run'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = opts[:'file'] if !opts[:'file'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BulkUploadPosts200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PostsApi.bulk_upload_posts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsApi#bulk_upload_posts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a draft, scheduled, or immediate post
    # **Getting Post URLs:** - For immediate posts (`publishNow: true`): The response includes `platformPostUrl` in each platform entry under `post.platforms[]`. - For scheduled posts: Fetch the post via `GET /v1/posts/{postId}` after the scheduled time; `platformPostUrl` will be populated once published.  **Content/Caption requirements:** - `content` (caption/description) is optional when:   - Media is attached (`mediaItems` or per-platform `customMedia`)   - All platforms have `customContent` set   - Posting only to YouTube (title is used instead) - Text-only posts (no media) require `content` - Stories do not use captions (content is ignored) - Reels, feed posts, and other media posts can have optional captions  Platform constraints: - YouTube requires a video in mediaItems; optional custom thumbnail via MediaItem.thumbnail. - Instagram and TikTok require media; do not mix videos and images for TikTok. - Instagram carousels support up to 10 items; Stories publish as 'story'. - Threads carousels support up to 10 images (no videos in carousels); single posts support one image or video. - Facebook Stories require media (single image or video); set contentType to 'story' in platformSpecificData. - LinkedIn multi-image supports up to 20 images; single PDF documents supported (max 100MB, ~300 pages, cannot mix with other media). - Pinterest supports single image via image_url or a single video per Pin; boardId is required. - Bluesky supports up to 4 images per post. Images may be automatically recompressed to ≤ ~1MB to satisfy Bluesky's blob limit. When no media is attached, a link preview may be generated for URLs in the text. - Snapchat requires media (single image or video); set contentType to 'story', 'saved_story', or 'spotlight' in platformSpecificData. Stories are ephemeral (24h), Saved Stories are permanent, Spotlight is for video content.  **Multi-page/multi-location posting:** Some platforms allow posting to multiple pages, organizations, or locations from a single account connection. Use the same accountId multiple times with different targets in platformSpecificData: - Facebook: `pageId` - post to multiple Facebook Pages (list via GET /v1/accounts/{id}/facebook-page) - LinkedIn: `organizationUrn` - post to multiple organizations (list via GET /v1/accounts/{id}/linkedin-organizations) - Google Business: `locationId` - post to multiple locations (list via GET /v1/accounts/{id}/gmb-locations) - Reddit: `subreddit` - post to multiple subreddits from the same account 
    # @param create_post_request [CreatePostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PostCreateResponse]
    def create_post(create_post_request, opts = {})
      data, _status_code, _headers = create_post_with_http_info(create_post_request, opts)
      data
    end

    # Create a draft, scheduled, or immediate post
    # **Getting Post URLs:** - For immediate posts (&#x60;publishNow: true&#x60;): The response includes &#x60;platformPostUrl&#x60; in each platform entry under &#x60;post.platforms[]&#x60;. - For scheduled posts: Fetch the post via &#x60;GET /v1/posts/{postId}&#x60; after the scheduled time; &#x60;platformPostUrl&#x60; will be populated once published.  **Content/Caption requirements:** - &#x60;content&#x60; (caption/description) is optional when:   - Media is attached (&#x60;mediaItems&#x60; or per-platform &#x60;customMedia&#x60;)   - All platforms have &#x60;customContent&#x60; set   - Posting only to YouTube (title is used instead) - Text-only posts (no media) require &#x60;content&#x60; - Stories do not use captions (content is ignored) - Reels, feed posts, and other media posts can have optional captions  Platform constraints: - YouTube requires a video in mediaItems; optional custom thumbnail via MediaItem.thumbnail. - Instagram and TikTok require media; do not mix videos and images for TikTok. - Instagram carousels support up to 10 items; Stories publish as &#39;story&#39;. - Threads carousels support up to 10 images (no videos in carousels); single posts support one image or video. - Facebook Stories require media (single image or video); set contentType to &#39;story&#39; in platformSpecificData. - LinkedIn multi-image supports up to 20 images; single PDF documents supported (max 100MB, ~300 pages, cannot mix with other media). - Pinterest supports single image via image_url or a single video per Pin; boardId is required. - Bluesky supports up to 4 images per post. Images may be automatically recompressed to ≤ ~1MB to satisfy Bluesky&#39;s blob limit. When no media is attached, a link preview may be generated for URLs in the text. - Snapchat requires media (single image or video); set contentType to &#39;story&#39;, &#39;saved_story&#39;, or &#39;spotlight&#39; in platformSpecificData. Stories are ephemeral (24h), Saved Stories are permanent, Spotlight is for video content.  **Multi-page/multi-location posting:** Some platforms allow posting to multiple pages, organizations, or locations from a single account connection. Use the same accountId multiple times with different targets in platformSpecificData: - Facebook: &#x60;pageId&#x60; - post to multiple Facebook Pages (list via GET /v1/accounts/{id}/facebook-page) - LinkedIn: &#x60;organizationUrn&#x60; - post to multiple organizations (list via GET /v1/accounts/{id}/linkedin-organizations) - Google Business: &#x60;locationId&#x60; - post to multiple locations (list via GET /v1/accounts/{id}/gmb-locations) - Reddit: &#x60;subreddit&#x60; - post to multiple subreddits from the same account 
    # @param create_post_request [CreatePostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PostCreateResponse, Integer, Hash)>] PostCreateResponse data, response status code and response headers
    def create_post_with_http_info(create_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsApi.create_post ...'
      end
      # verify the required parameter 'create_post_request' is set
      if @api_client.config.client_side_validation && create_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_post_request' when calling PostsApi.create_post"
      end
      # resource path
      local_var_path = '/v1/posts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PostCreateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PostsApi.create_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsApi#create_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a post
    # Delete a post. Published posts cannot be deleted.  When deleting a scheduled or draft post that consumed upload quota, the quota will be automatically refunded. 
    # @param post_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [PostDeleteResponse]
    def delete_post(post_id, opts = {})
      data, _status_code, _headers = delete_post_with_http_info(post_id, opts)
      data
    end

    # Delete a post
    # Delete a post. Published posts cannot be deleted.  When deleting a scheduled or draft post that consumed upload quota, the quota will be automatically refunded. 
    # @param post_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PostDeleteResponse, Integer, Hash)>] PostDeleteResponse data, response status code and response headers
    def delete_post_with_http_info(post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsApi.delete_post ...'
      end
      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling PostsApi.delete_post"
      end
      # resource path
      local_var_path = '/v1/posts/{postId}'.sub('{' + 'postId' + '}', CGI.escape(post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PostDeleteResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PostsApi.delete_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsApi#delete_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a single post
    # Fetch a single post by ID. For published posts, this returns `platformPostUrl`  for each platform - useful for retrieving post URLs after scheduled posts publish. 
    # @param post_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [PostGetResponse]
    def get_post(post_id, opts = {})
      data, _status_code, _headers = get_post_with_http_info(post_id, opts)
      data
    end

    # Get a single post
    # Fetch a single post by ID. For published posts, this returns &#x60;platformPostUrl&#x60;  for each platform - useful for retrieving post URLs after scheduled posts publish. 
    # @param post_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PostGetResponse, Integer, Hash)>] PostGetResponse data, response status code and response headers
    def get_post_with_http_info(post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsApi.get_post ...'
      end
      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling PostsApi.get_post"
      end
      # resource path
      local_var_path = '/v1/posts/{postId}'.sub('{' + 'postId' + '}', CGI.escape(post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PostGetResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PostsApi.get_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsApi#get_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List posts visible to the authenticated user
    # **Getting Post URLs:** For published posts, each platform entry includes `platformPostUrl` with the public URL. Use `status=published` filter to fetch only published posts with their URLs.  Notes and constraints by platform when interpreting the response: - YouTube: posts always include at least one video in mediaItems. - Instagram/TikTok: posts always include media; drafts may omit media until finalized in client. - TikTok: mediaItems will not mix photos and videos in the same post. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-based) (default to 1)
    # @option opts [Integer] :limit Page size (default to 10)
    # @option opts [String] :status 
    # @option opts [String] :platform 
    # @option opts [String] :profile_id 
    # @option opts [String] :created_by 
    # @option opts [Date] :date_from 
    # @option opts [Date] :date_to 
    # @option opts [Boolean] :include_hidden  (default to false)
    # @return [PostsListResponse]
    def list_posts(opts = {})
      data, _status_code, _headers = list_posts_with_http_info(opts)
      data
    end

    # List posts visible to the authenticated user
    # **Getting Post URLs:** For published posts, each platform entry includes &#x60;platformPostUrl&#x60; with the public URL. Use &#x60;status&#x3D;published&#x60; filter to fetch only published posts with their URLs.  Notes and constraints by platform when interpreting the response: - YouTube: posts always include at least one video in mediaItems. - Instagram/TikTok: posts always include media; drafts may omit media until finalized in client. - TikTok: mediaItems will not mix photos and videos in the same post. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-based) (default to 1)
    # @option opts [Integer] :limit Page size (default to 10)
    # @option opts [String] :status 
    # @option opts [String] :platform 
    # @option opts [String] :profile_id 
    # @option opts [String] :created_by 
    # @option opts [Date] :date_from 
    # @option opts [Date] :date_to 
    # @option opts [Boolean] :include_hidden  (default to false)
    # @return [Array<(PostsListResponse, Integer, Hash)>] PostsListResponse data, response status code and response headers
    def list_posts_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsApi.list_posts ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling PostsApi.list_posts, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling PostsApi.list_posts, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling PostsApi.list_posts, must be greater than or equal to 1.'
      end

      allowable_values = ["draft", "scheduled", "published", "failed"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/posts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'platform'] = opts[:'platform'] if !opts[:'platform'].nil?
      query_params[:'profileId'] = opts[:'profile_id'] if !opts[:'profile_id'].nil?
      query_params[:'createdBy'] = opts[:'created_by'] if !opts[:'created_by'].nil?
      query_params[:'dateFrom'] = opts[:'date_from'] if !opts[:'date_from'].nil?
      query_params[:'dateTo'] = opts[:'date_to'] if !opts[:'date_to'].nil?
      query_params[:'includeHidden'] = opts[:'include_hidden'] if !opts[:'include_hidden'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PostsListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PostsApi.list_posts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsApi#list_posts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retry publishing a failed or partial post
    # @param post_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [PostRetryResponse]
    def retry_post(post_id, opts = {})
      data, _status_code, _headers = retry_post_with_http_info(post_id, opts)
      data
    end

    # Retry publishing a failed or partial post
    # @param post_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PostRetryResponse, Integer, Hash)>] PostRetryResponse data, response status code and response headers
    def retry_post_with_http_info(post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsApi.retry_post ...'
      end
      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling PostsApi.retry_post"
      end
      # resource path
      local_var_path = '/v1/posts/{postId}/retry'.sub('{' + 'postId' + '}', CGI.escape(post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PostRetryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PostsApi.retry_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsApi#retry_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a post
    # Update an existing post. Only draft, scheduled, failed, and partial posts can be edited. Published, publishing, and cancelled posts cannot be modified. 
    # @param post_id [String] 
    # @param update_post_request [UpdatePostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PostUpdateResponse]
    def update_post(post_id, update_post_request, opts = {})
      data, _status_code, _headers = update_post_with_http_info(post_id, update_post_request, opts)
      data
    end

    # Update a post
    # Update an existing post. Only draft, scheduled, failed, and partial posts can be edited. Published, publishing, and cancelled posts cannot be modified. 
    # @param post_id [String] 
    # @param update_post_request [UpdatePostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PostUpdateResponse, Integer, Hash)>] PostUpdateResponse data, response status code and response headers
    def update_post_with_http_info(post_id, update_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsApi.update_post ...'
      end
      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling PostsApi.update_post"
      end
      # verify the required parameter 'update_post_request' is set
      if @api_client.config.client_side_validation && update_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_post_request' when calling PostsApi.update_post"
      end
      # resource path
      local_var_path = '/v1/posts/{postId}'.sub('{' + 'postId' + '}', CGI.escape(post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PostUpdateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PostsApi.update_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsApi#update_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
