=begin
#Late API

#API reference for Late. Authenticate with a Bearer API key. Base URL: https://getlate.dev/api 

The version of the OpenAPI document: 1.0.1
Contact: support@getlate.dev
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Late
  class AnalyticsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get post analytics
    # Returns analytics for posts. With postId, returns a single post. Without it, returns a paginated list with overview stats. Accepts both Late Post IDs and External Post IDs (auto-resolved). Data is cached and refreshed at most once per hour. For follower stats, use /v1/accounts/follower-stats. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :post_id Returns analytics for a single post. Accepts both Late Post IDs and External Post IDs. Late IDs are auto-resolved to External Post analytics.
    # @option opts [String] :platform Filter by platform (default \&quot;all\&quot;)
    # @option opts [String] :profile_id Filter by profile ID (default \&quot;all\&quot;)
    # @option opts [String] :source Filter by post source: late (posted via Late API), external (synced from platform), all (default) (default to 'all')
    # @option opts [Date] :from_date Inclusive lower bound
    # @option opts [Date] :to_date Inclusive upper bound
    # @option opts [Integer] :limit Page size (default 50) (default to 50)
    # @option opts [Integer] :page Page number (default 1) (default to 1)
    # @option opts [String] :sort_by Sort by date or engagement (default to 'date')
    # @option opts [String] :order Sort order (default to 'desc')
    # @return [GetAnalytics200Response]
    def get_analytics(opts = {})
      data, _status_code, _headers = get_analytics_with_http_info(opts)
      data
    end

    # Get post analytics
    # Returns analytics for posts. With postId, returns a single post. Without it, returns a paginated list with overview stats. Accepts both Late Post IDs and External Post IDs (auto-resolved). Data is cached and refreshed at most once per hour. For follower stats, use /v1/accounts/follower-stats. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :post_id Returns analytics for a single post. Accepts both Late Post IDs and External Post IDs. Late IDs are auto-resolved to External Post analytics.
    # @option opts [String] :platform Filter by platform (default \&quot;all\&quot;)
    # @option opts [String] :profile_id Filter by profile ID (default \&quot;all\&quot;)
    # @option opts [String] :source Filter by post source: late (posted via Late API), external (synced from platform), all (default) (default to 'all')
    # @option opts [Date] :from_date Inclusive lower bound
    # @option opts [Date] :to_date Inclusive upper bound
    # @option opts [Integer] :limit Page size (default 50) (default to 50)
    # @option opts [Integer] :page Page number (default 1) (default to 1)
    # @option opts [String] :sort_by Sort by date or engagement (default to 'date')
    # @option opts [String] :order Sort order (default to 'desc')
    # @return [Array<(GetAnalytics200Response, Integer, Hash)>] GetAnalytics200Response data, response status code and response headers
    def get_analytics_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.get_analytics ...'
      end
      allowable_values = ["all", "late", "external"]
      if @api_client.config.client_side_validation && opts[:'source'] && !allowable_values.include?(opts[:'source'])
        fail ArgumentError, "invalid value for \"source\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AnalyticsApi.get_analytics, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AnalyticsApi.get_analytics, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AnalyticsApi.get_analytics, must be greater than or equal to 1.'
      end

      allowable_values = ["date", "engagement"]
      if @api_client.config.client_side_validation && opts[:'sort_by'] && !allowable_values.include?(opts[:'sort_by'])
        fail ArgumentError, "invalid value for \"sort_by\", must be one of #{allowable_values}"
      end
      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'order'] && !allowable_values.include?(opts[:'order'])
        fail ArgumentError, "invalid value for \"order\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/analytics'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'postId'] = opts[:'post_id'] if !opts[:'post_id'].nil?
      query_params[:'platform'] = opts[:'platform'] if !opts[:'platform'].nil?
      query_params[:'profileId'] = opts[:'profile_id'] if !opts[:'profile_id'].nil?
      query_params[:'source'] = opts[:'source'] if !opts[:'source'].nil?
      query_params[:'fromDate'] = opts[:'from_date'] if !opts[:'from_date'].nil?
      query_params[:'toDate'] = opts[:'to_date'] if !opts[:'to_date'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAnalytics200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.get_analytics",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#get_analytics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get best times to post
    # Returns the best times to post based on historical engagement data. Groups all published posts by day of week and hour (UTC), calculating average engagement per slot. Use this to auto-schedule posts at optimal times. Requires the Analytics add-on. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :platform Filter by platform (e.g. \&quot;instagram\&quot;, \&quot;tiktok\&quot;). Omit for all platforms.
    # @option opts [String] :profile_id Filter by profile ID. Omit for all profiles.
    # @option opts [String] :source Filter by post origin. \&quot;late\&quot; for posts published via Late, \&quot;external\&quot; for posts imported from platforms. (default to 'all')
    # @return [GetBestTimeToPost200Response]
    def get_best_time_to_post(opts = {})
      data, _status_code, _headers = get_best_time_to_post_with_http_info(opts)
      data
    end

    # Get best times to post
    # Returns the best times to post based on historical engagement data. Groups all published posts by day of week and hour (UTC), calculating average engagement per slot. Use this to auto-schedule posts at optimal times. Requires the Analytics add-on. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :platform Filter by platform (e.g. \&quot;instagram\&quot;, \&quot;tiktok\&quot;). Omit for all platforms.
    # @option opts [String] :profile_id Filter by profile ID. Omit for all profiles.
    # @option opts [String] :source Filter by post origin. \&quot;late\&quot; for posts published via Late, \&quot;external\&quot; for posts imported from platforms. (default to 'all')
    # @return [Array<(GetBestTimeToPost200Response, Integer, Hash)>] GetBestTimeToPost200Response data, response status code and response headers
    def get_best_time_to_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.get_best_time_to_post ...'
      end
      allowable_values = ["all", "late", "external"]
      if @api_client.config.client_side_validation && opts[:'source'] && !allowable_values.include?(opts[:'source'])
        fail ArgumentError, "invalid value for \"source\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/analytics/best-time'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'platform'] = opts[:'platform'] if !opts[:'platform'].nil?
      query_params[:'profileId'] = opts[:'profile_id'] if !opts[:'profile_id'].nil?
      query_params[:'source'] = opts[:'source'] if !opts[:'source'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetBestTimeToPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.get_best_time_to_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#get_best_time_to_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get content performance decay
    # Returns how engagement accumulates over time after a post is published. Each bucket shows what percentage of the post's total engagement had been reached by that time window. Useful for understanding content lifespan (e.g. \"posts reach 78% of total engagement within 24 hours\"). Requires the Analytics add-on. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :platform Filter by platform (e.g. \&quot;instagram\&quot;, \&quot;tiktok\&quot;). Omit for all platforms.
    # @option opts [String] :profile_id Filter by profile ID. Omit for all profiles.
    # @option opts [String] :source Filter by post origin. \&quot;late\&quot; for posts published via Late, \&quot;external\&quot; for posts imported from platforms. (default to 'all')
    # @return [GetContentDecay200Response]
    def get_content_decay(opts = {})
      data, _status_code, _headers = get_content_decay_with_http_info(opts)
      data
    end

    # Get content performance decay
    # Returns how engagement accumulates over time after a post is published. Each bucket shows what percentage of the post&#39;s total engagement had been reached by that time window. Useful for understanding content lifespan (e.g. \&quot;posts reach 78% of total engagement within 24 hours\&quot;). Requires the Analytics add-on. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :platform Filter by platform (e.g. \&quot;instagram\&quot;, \&quot;tiktok\&quot;). Omit for all platforms.
    # @option opts [String] :profile_id Filter by profile ID. Omit for all profiles.
    # @option opts [String] :source Filter by post origin. \&quot;late\&quot; for posts published via Late, \&quot;external\&quot; for posts imported from platforms. (default to 'all')
    # @return [Array<(GetContentDecay200Response, Integer, Hash)>] GetContentDecay200Response data, response status code and response headers
    def get_content_decay_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.get_content_decay ...'
      end
      allowable_values = ["all", "late", "external"]
      if @api_client.config.client_side_validation && opts[:'source'] && !allowable_values.include?(opts[:'source'])
        fail ArgumentError, "invalid value for \"source\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/analytics/content-decay'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'platform'] = opts[:'platform'] if !opts[:'platform'].nil?
      query_params[:'profileId'] = opts[:'profile_id'] if !opts[:'profile_id'].nil?
      query_params[:'source'] = opts[:'source'] if !opts[:'source'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetContentDecay200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.get_content_decay",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#get_content_decay\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get daily aggregated metrics
    # Returns daily aggregated analytics metrics and a per-platform breakdown. Each day includes post count, platform distribution, and summed metrics (impressions, reach, likes, comments, shares, saves, clicks, views). Defaults to the last 180 days. Requires the Analytics add-on. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :platform Filter by platform (e.g. \&quot;instagram\&quot;, \&quot;tiktok\&quot;). Omit for all platforms.
    # @option opts [String] :profile_id Filter by profile ID. Omit for all profiles.
    # @option opts [Time] :from_date Inclusive start date (ISO 8601). Defaults to 180 days ago.
    # @option opts [Time] :to_date Inclusive end date (ISO 8601). Defaults to now.
    # @option opts [String] :source Filter by post origin. \&quot;late\&quot; for posts published via Late, \&quot;external\&quot; for posts imported from platforms. (default to 'all')
    # @return [GetDailyMetrics200Response]
    def get_daily_metrics(opts = {})
      data, _status_code, _headers = get_daily_metrics_with_http_info(opts)
      data
    end

    # Get daily aggregated metrics
    # Returns daily aggregated analytics metrics and a per-platform breakdown. Each day includes post count, platform distribution, and summed metrics (impressions, reach, likes, comments, shares, saves, clicks, views). Defaults to the last 180 days. Requires the Analytics add-on. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :platform Filter by platform (e.g. \&quot;instagram\&quot;, \&quot;tiktok\&quot;). Omit for all platforms.
    # @option opts [String] :profile_id Filter by profile ID. Omit for all profiles.
    # @option opts [Time] :from_date Inclusive start date (ISO 8601). Defaults to 180 days ago.
    # @option opts [Time] :to_date Inclusive end date (ISO 8601). Defaults to now.
    # @option opts [String] :source Filter by post origin. \&quot;late\&quot; for posts published via Late, \&quot;external\&quot; for posts imported from platforms. (default to 'all')
    # @return [Array<(GetDailyMetrics200Response, Integer, Hash)>] GetDailyMetrics200Response data, response status code and response headers
    def get_daily_metrics_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.get_daily_metrics ...'
      end
      allowable_values = ["all", "late", "external"]
      if @api_client.config.client_side_validation && opts[:'source'] && !allowable_values.include?(opts[:'source'])
        fail ArgumentError, "invalid value for \"source\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/analytics/daily-metrics'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'platform'] = opts[:'platform'] if !opts[:'platform'].nil?
      query_params[:'profileId'] = opts[:'profile_id'] if !opts[:'profile_id'].nil?
      query_params[:'fromDate'] = opts[:'from_date'] if !opts[:'from_date'].nil?
      query_params[:'toDate'] = opts[:'to_date'] if !opts[:'to_date'].nil?
      query_params[:'source'] = opts[:'source'] if !opts[:'source'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDailyMetrics200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.get_daily_metrics",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#get_daily_metrics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get follower stats
    # Returns follower count history and growth metrics for connected social accounts. Requires analytics add-on subscription. Follower counts are refreshed once per day. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_ids Comma-separated list of account IDs (optional, defaults to all user&#39;s accounts)
    # @option opts [String] :profile_id Filter by profile ID
    # @option opts [Date] :from_date Start date in YYYY-MM-DD format (defaults to 30 days ago)
    # @option opts [Date] :to_date End date in YYYY-MM-DD format (defaults to today)
    # @option opts [String] :granularity Data aggregation level (default to 'daily')
    # @return [GetFollowerStats200Response]
    def get_follower_stats(opts = {})
      data, _status_code, _headers = get_follower_stats_with_http_info(opts)
      data
    end

    # Get follower stats
    # Returns follower count history and growth metrics for connected social accounts. Requires analytics add-on subscription. Follower counts are refreshed once per day. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_ids Comma-separated list of account IDs (optional, defaults to all user&#39;s accounts)
    # @option opts [String] :profile_id Filter by profile ID
    # @option opts [Date] :from_date Start date in YYYY-MM-DD format (defaults to 30 days ago)
    # @option opts [Date] :to_date End date in YYYY-MM-DD format (defaults to today)
    # @option opts [String] :granularity Data aggregation level (default to 'daily')
    # @return [Array<(GetFollowerStats200Response, Integer, Hash)>] GetFollowerStats200Response data, response status code and response headers
    def get_follower_stats_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.get_follower_stats ...'
      end
      allowable_values = ["daily", "weekly", "monthly"]
      if @api_client.config.client_side_validation && opts[:'granularity'] && !allowable_values.include?(opts[:'granularity'])
        fail ArgumentError, "invalid value for \"granularity\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/accounts/follower-stats'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountIds'] = opts[:'account_ids'] if !opts[:'account_ids'].nil?
      query_params[:'profileId'] = opts[:'profile_id'] if !opts[:'profile_id'].nil?
      query_params[:'fromDate'] = opts[:'from_date'] if !opts[:'from_date'].nil?
      query_params[:'toDate'] = opts[:'to_date'] if !opts[:'to_date'].nil?
      query_params[:'granularity'] = opts[:'granularity'] if !opts[:'granularity'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetFollowerStats200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.get_follower_stats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#get_follower_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get LinkedIn aggregate stats
    # Returns aggregate analytics across all posts for a LinkedIn personal account. Org accounts should use /v1/analytics instead. Requires r_member_postAnalytics scope.
    # @param account_id [String] The ID of the LinkedIn personal account
    # @param [Hash] opts the optional parameters
    # @option opts [String] :aggregation TOTAL (default, lifetime totals) or DAILY (time series). MEMBERS_REACHED not available with DAILY. (default to 'TOTAL')
    # @option opts [Date] :start_date Start date (YYYY-MM-DD). If omitted, returns lifetime analytics.
    # @option opts [Date] :end_date End date (YYYY-MM-DD, exclusive). Defaults to today if omitted.
    # @option opts [String] :metrics Comma-separated metrics: IMPRESSION, MEMBERS_REACHED, REACTION, COMMENT, RESHARE. Omit for all.
    # @return [GetLinkedInAggregateAnalytics200Response]
    def get_linked_in_aggregate_analytics(account_id, opts = {})
      data, _status_code, _headers = get_linked_in_aggregate_analytics_with_http_info(account_id, opts)
      data
    end

    # Get LinkedIn aggregate stats
    # Returns aggregate analytics across all posts for a LinkedIn personal account. Org accounts should use /v1/analytics instead. Requires r_member_postAnalytics scope.
    # @param account_id [String] The ID of the LinkedIn personal account
    # @param [Hash] opts the optional parameters
    # @option opts [String] :aggregation TOTAL (default, lifetime totals) or DAILY (time series). MEMBERS_REACHED not available with DAILY. (default to 'TOTAL')
    # @option opts [Date] :start_date Start date (YYYY-MM-DD). If omitted, returns lifetime analytics.
    # @option opts [Date] :end_date End date (YYYY-MM-DD, exclusive). Defaults to today if omitted.
    # @option opts [String] :metrics Comma-separated metrics: IMPRESSION, MEMBERS_REACHED, REACTION, COMMENT, RESHARE. Omit for all.
    # @return [Array<(GetLinkedInAggregateAnalytics200Response, Integer, Hash)>] GetLinkedInAggregateAnalytics200Response data, response status code and response headers
    def get_linked_in_aggregate_analytics_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.get_linked_in_aggregate_analytics ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AnalyticsApi.get_linked_in_aggregate_analytics"
      end
      allowable_values = ["TOTAL", "DAILY"]
      if @api_client.config.client_side_validation && opts[:'aggregation'] && !allowable_values.include?(opts[:'aggregation'])
        fail ArgumentError, "invalid value for \"aggregation\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/linkedin-aggregate-analytics'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'aggregation'] = opts[:'aggregation'] if !opts[:'aggregation'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'metrics'] = opts[:'metrics'] if !opts[:'metrics'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetLinkedInAggregateAnalytics200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.get_linked_in_aggregate_analytics",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#get_linked_in_aggregate_analytics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get LinkedIn post stats
    # Returns analytics for a specific LinkedIn post by URN. Works for both personal and organization accounts.
    # @param account_id [String] The ID of the LinkedIn account
    # @param urn [String] The LinkedIn post URN
    # @param [Hash] opts the optional parameters
    # @return [GetLinkedInPostAnalytics200Response]
    def get_linked_in_post_analytics(account_id, urn, opts = {})
      data, _status_code, _headers = get_linked_in_post_analytics_with_http_info(account_id, urn, opts)
      data
    end

    # Get LinkedIn post stats
    # Returns analytics for a specific LinkedIn post by URN. Works for both personal and organization accounts.
    # @param account_id [String] The ID of the LinkedIn account
    # @param urn [String] The LinkedIn post URN
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetLinkedInPostAnalytics200Response, Integer, Hash)>] GetLinkedInPostAnalytics200Response data, response status code and response headers
    def get_linked_in_post_analytics_with_http_info(account_id, urn, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.get_linked_in_post_analytics ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AnalyticsApi.get_linked_in_post_analytics"
      end
      # verify the required parameter 'urn' is set
      if @api_client.config.client_side_validation && urn.nil?
        fail ArgumentError, "Missing the required parameter 'urn' when calling AnalyticsApi.get_linked_in_post_analytics"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/linkedin-post-analytics'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'urn'] = urn

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetLinkedInPostAnalytics200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.get_linked_in_post_analytics",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#get_linked_in_post_analytics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get LinkedIn post reactions
    # Returns individual reactions for a specific LinkedIn post, including reactor profiles (name, headline/job title, profile picture, profile URL, reaction type). Only works for **organization/company page** accounts. LinkedIn restricts reaction data for personal profiles (r_member_social_feed is a closed permission). 
    # @param account_id [String] The ID of the LinkedIn organization account
    # @param urn [String] The LinkedIn post URN
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Maximum number of reactions to return per page (default to 25)
    # @option opts [String] :cursor Offset-based pagination start index
    # @return [GetLinkedInPostReactions200Response]
    def get_linked_in_post_reactions(account_id, urn, opts = {})
      data, _status_code, _headers = get_linked_in_post_reactions_with_http_info(account_id, urn, opts)
      data
    end

    # Get LinkedIn post reactions
    # Returns individual reactions for a specific LinkedIn post, including reactor profiles (name, headline/job title, profile picture, profile URL, reaction type). Only works for **organization/company page** accounts. LinkedIn restricts reaction data for personal profiles (r_member_social_feed is a closed permission). 
    # @param account_id [String] The ID of the LinkedIn organization account
    # @param urn [String] The LinkedIn post URN
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Maximum number of reactions to return per page (default to 25)
    # @option opts [String] :cursor Offset-based pagination start index
    # @return [Array<(GetLinkedInPostReactions200Response, Integer, Hash)>] GetLinkedInPostReactions200Response data, response status code and response headers
    def get_linked_in_post_reactions_with_http_info(account_id, urn, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.get_linked_in_post_reactions ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AnalyticsApi.get_linked_in_post_reactions"
      end
      # verify the required parameter 'urn' is set
      if @api_client.config.client_side_validation && urn.nil?
        fail ArgumentError, "Missing the required parameter 'urn' when calling AnalyticsApi.get_linked_in_post_reactions"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AnalyticsApi.get_linked_in_post_reactions, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AnalyticsApi.get_linked_in_post_reactions, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/accounts/{accountId}/linkedin-post-reactions'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'urn'] = urn
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetLinkedInPostReactions200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.get_linked_in_post_reactions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#get_linked_in_post_reactions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get post analytics timeline
    # Returns a daily timeline of analytics metrics for a specific post, showing how impressions, likes, and other metrics evolved day-by-day since publishing. Each row represents one day of data per platform. For multi-platform Late posts, returns separate rows for each platform. Requires the Analytics add-on. 
    # @param post_id [String] The post to fetch timeline for. Accepts an ExternalPost ID, a platformPostId, or a Late Post ID. 
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :from_date Start of date range (ISO 8601). Defaults to 90 days ago.
    # @option opts [Time] :to_date End of date range (ISO 8601). Defaults to now.
    # @return [GetPostTimeline200Response]
    def get_post_timeline(post_id, opts = {})
      data, _status_code, _headers = get_post_timeline_with_http_info(post_id, opts)
      data
    end

    # Get post analytics timeline
    # Returns a daily timeline of analytics metrics for a specific post, showing how impressions, likes, and other metrics evolved day-by-day since publishing. Each row represents one day of data per platform. For multi-platform Late posts, returns separate rows for each platform. Requires the Analytics add-on. 
    # @param post_id [String] The post to fetch timeline for. Accepts an ExternalPost ID, a platformPostId, or a Late Post ID. 
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :from_date Start of date range (ISO 8601). Defaults to 90 days ago.
    # @option opts [Time] :to_date End of date range (ISO 8601). Defaults to now.
    # @return [Array<(GetPostTimeline200Response, Integer, Hash)>] GetPostTimeline200Response data, response status code and response headers
    def get_post_timeline_with_http_info(post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.get_post_timeline ...'
      end
      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling AnalyticsApi.get_post_timeline"
      end
      # resource path
      local_var_path = '/v1/analytics/post-timeline'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'postId'] = post_id
      query_params[:'fromDate'] = opts[:'from_date'] if !opts[:'from_date'].nil?
      query_params[:'toDate'] = opts[:'to_date'] if !opts[:'to_date'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetPostTimeline200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.get_post_timeline",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#get_post_timeline\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get posting frequency vs engagement
    # Returns the correlation between posting frequency (posts per week) and engagement rate, broken down by platform. Helps find the optimal posting cadence for each platform. Each row represents a specific (platform, posts_per_week) combination with the average engagement rate observed across all weeks matching that frequency. Requires the Analytics add-on. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :platform Filter by platform (e.g. \&quot;instagram\&quot;, \&quot;tiktok\&quot;). Omit for all platforms.
    # @option opts [String] :profile_id Filter by profile ID. Omit for all profiles.
    # @option opts [String] :source Filter by post origin. \&quot;late\&quot; for posts published via Late, \&quot;external\&quot; for posts imported from platforms. (default to 'all')
    # @return [GetPostingFrequency200Response]
    def get_posting_frequency(opts = {})
      data, _status_code, _headers = get_posting_frequency_with_http_info(opts)
      data
    end

    # Get posting frequency vs engagement
    # Returns the correlation between posting frequency (posts per week) and engagement rate, broken down by platform. Helps find the optimal posting cadence for each platform. Each row represents a specific (platform, posts_per_week) combination with the average engagement rate observed across all weeks matching that frequency. Requires the Analytics add-on. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :platform Filter by platform (e.g. \&quot;instagram\&quot;, \&quot;tiktok\&quot;). Omit for all platforms.
    # @option opts [String] :profile_id Filter by profile ID. Omit for all profiles.
    # @option opts [String] :source Filter by post origin. \&quot;late\&quot; for posts published via Late, \&quot;external\&quot; for posts imported from platforms. (default to 'all')
    # @return [Array<(GetPostingFrequency200Response, Integer, Hash)>] GetPostingFrequency200Response data, response status code and response headers
    def get_posting_frequency_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.get_posting_frequency ...'
      end
      allowable_values = ["all", "late", "external"]
      if @api_client.config.client_side_validation && opts[:'source'] && !allowable_values.include?(opts[:'source'])
        fail ArgumentError, "invalid value for \"source\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/analytics/posting-frequency'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'platform'] = opts[:'platform'] if !opts[:'platform'].nil?
      query_params[:'profileId'] = opts[:'profile_id'] if !opts[:'profile_id'].nil?
      query_params[:'source'] = opts[:'source'] if !opts[:'source'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetPostingFrequency200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.get_posting_frequency",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#get_posting_frequency\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get YouTube daily views
    # Returns daily view counts for a YouTube video including views, watch time, and subscriber changes. Requires yt-analytics.readonly scope (re-authorization may be needed). Data has a 2-3 day delay. Max 90 days, defaults to last 30 days. 
    # @param video_id [String] The YouTube video ID (e.g., \&quot;dQw4w9WgXcQ\&quot;)
    # @param account_id [String] The Late account ID for the YouTube account
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :start_date Start date (YYYY-MM-DD). Defaults to 30 days ago.
    # @option opts [Date] :end_date End date (YYYY-MM-DD). Defaults to 3 days ago (YouTube data latency).
    # @return [YouTubeDailyViewsResponse]
    def get_you_tube_daily_views(video_id, account_id, opts = {})
      data, _status_code, _headers = get_you_tube_daily_views_with_http_info(video_id, account_id, opts)
      data
    end

    # Get YouTube daily views
    # Returns daily view counts for a YouTube video including views, watch time, and subscriber changes. Requires yt-analytics.readonly scope (re-authorization may be needed). Data has a 2-3 day delay. Max 90 days, defaults to last 30 days. 
    # @param video_id [String] The YouTube video ID (e.g., \&quot;dQw4w9WgXcQ\&quot;)
    # @param account_id [String] The Late account ID for the YouTube account
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :start_date Start date (YYYY-MM-DD). Defaults to 30 days ago.
    # @option opts [Date] :end_date End date (YYYY-MM-DD). Defaults to 3 days ago (YouTube data latency).
    # @return [Array<(YouTubeDailyViewsResponse, Integer, Hash)>] YouTubeDailyViewsResponse data, response status code and response headers
    def get_you_tube_daily_views_with_http_info(video_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.get_you_tube_daily_views ...'
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling AnalyticsApi.get_you_tube_daily_views"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AnalyticsApi.get_you_tube_daily_views"
      end
      # resource path
      local_var_path = '/v1/analytics/youtube/daily-views'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'videoId'] = video_id
      query_params[:'accountId'] = account_id
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'YouTubeDailyViewsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.get_you_tube_daily_views",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#get_you_tube_daily_views\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
