=begin
#Late API

#API reference for Late. Authenticate with a Bearer API key. Base URL: https://getlate.dev/api 

The version of the OpenAPI document: 1.0.1
Contact: support@getlate.dev
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Late
  class ConnectApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Check Telegram status
    # Poll this endpoint to check if a Telegram access code has been used to connect a channel/group. Recommended polling interval: 3 seconds. Status values: pending (waiting for user), connected (channel/group linked), expired (generate a new code). 
    # @param code [String] The access code to check status for
    # @param [Hash] opts the optional parameters
    # @return [CompleteTelegramConnect200Response]
    def complete_telegram_connect(code, opts = {})
      data, _status_code, _headers = complete_telegram_connect_with_http_info(code, opts)
      data
    end

    # Check Telegram status
    # Poll this endpoint to check if a Telegram access code has been used to connect a channel/group. Recommended polling interval: 3 seconds. Status values: pending (waiting for user), connected (channel/group linked), expired (generate a new code). 
    # @param code [String] The access code to check status for
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompleteTelegramConnect200Response, Integer, Hash)>] CompleteTelegramConnect200Response data, response status code and response headers
    def complete_telegram_connect_with_http_info(code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.complete_telegram_connect ...'
      end
      # verify the required parameter 'code' is set
      if @api_client.config.client_side_validation && code.nil?
        fail ArgumentError, "Missing the required parameter 'code' when calling ConnectApi.complete_telegram_connect"
      end
      # resource path
      local_var_path = '/v1/connect/telegram'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'code'] = code

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompleteTelegramConnect200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConnectApi.complete_telegram_connect",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#complete_telegram_connect\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Connect Bluesky account
    # Connect a Bluesky account using identifier (handle or email) and an app password. To get your userId for the state parameter, call GET /v1/users which includes a currentUserId field. 
    # @param connect_bluesky_credentials_request [ConnectBlueskyCredentialsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ConnectBlueskyCredentials200Response]
    def connect_bluesky_credentials(connect_bluesky_credentials_request, opts = {})
      data, _status_code, _headers = connect_bluesky_credentials_with_http_info(connect_bluesky_credentials_request, opts)
      data
    end

    # Connect Bluesky account
    # Connect a Bluesky account using identifier (handle or email) and an app password. To get your userId for the state parameter, call GET /v1/users which includes a currentUserId field. 
    # @param connect_bluesky_credentials_request [ConnectBlueskyCredentialsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConnectBlueskyCredentials200Response, Integer, Hash)>] ConnectBlueskyCredentials200Response data, response status code and response headers
    def connect_bluesky_credentials_with_http_info(connect_bluesky_credentials_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.connect_bluesky_credentials ...'
      end
      # verify the required parameter 'connect_bluesky_credentials_request' is set
      if @api_client.config.client_side_validation && connect_bluesky_credentials_request.nil?
        fail ArgumentError, "Missing the required parameter 'connect_bluesky_credentials_request' when calling ConnectApi.connect_bluesky_credentials"
      end
      # resource path
      local_var_path = '/v1/connect/bluesky/credentials'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(connect_bluesky_credentials_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ConnectBlueskyCredentials200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConnectApi.connect_bluesky_credentials",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#connect_bluesky_credentials\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get OAuth connect URL
    # Initiate an OAuth connection flow. Returns an authUrl to redirect the user to. Standard flow: Late hosts the selection UI, then redirects to your redirect_url. Headless mode (headless=true): user is redirected to your redirect_url with OAuth data for custom UI. Use the platform-specific selection endpoints to complete. 
    # @param platform [String] Social media platform to connect
    # @param profile_id [String] Your Late profile ID (get from /v1/profiles)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :redirect_url Your custom redirect URL after connection completes. Standard mode appends ?connected&#x3D;{platform}&amp;profileId&#x3D;X&amp;accountId&#x3D;Y&amp;username&#x3D;Z. Headless mode appends OAuth data params for platforms requiring selection (e.g. LinkedIn orgs, Facebook pages). If no selection is needed, the account is created directly and the redirect includes accountId.
    # @option opts [Boolean] :headless When true, the user is redirected to your redirect_url with raw OAuth data (code, state) instead of Late&#39;s default account selection UI. Use this to build a custom connect experience. (default to false)
    # @return [GetConnectUrl200Response]
    def get_connect_url(platform, profile_id, opts = {})
      data, _status_code, _headers = get_connect_url_with_http_info(platform, profile_id, opts)
      data
    end

    # Get OAuth connect URL
    # Initiate an OAuth connection flow. Returns an authUrl to redirect the user to. Standard flow: Late hosts the selection UI, then redirects to your redirect_url. Headless mode (headless&#x3D;true): user is redirected to your redirect_url with OAuth data for custom UI. Use the platform-specific selection endpoints to complete. 
    # @param platform [String] Social media platform to connect
    # @param profile_id [String] Your Late profile ID (get from /v1/profiles)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :redirect_url Your custom redirect URL after connection completes. Standard mode appends ?connected&#x3D;{platform}&amp;profileId&#x3D;X&amp;accountId&#x3D;Y&amp;username&#x3D;Z. Headless mode appends OAuth data params for platforms requiring selection (e.g. LinkedIn orgs, Facebook pages). If no selection is needed, the account is created directly and the redirect includes accountId.
    # @option opts [Boolean] :headless When true, the user is redirected to your redirect_url with raw OAuth data (code, state) instead of Late&#39;s default account selection UI. Use this to build a custom connect experience. (default to false)
    # @return [Array<(GetConnectUrl200Response, Integer, Hash)>] GetConnectUrl200Response data, response status code and response headers
    def get_connect_url_with_http_info(platform, profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.get_connect_url ...'
      end
      # verify the required parameter 'platform' is set
      if @api_client.config.client_side_validation && platform.nil?
        fail ArgumentError, "Missing the required parameter 'platform' when calling ConnectApi.get_connect_url"
      end
      # verify enum value
      allowable_values = ["facebook", "instagram", "linkedin", "twitter", "tiktok", "youtube", "threads", "reddit", "pinterest", "bluesky", "googlebusiness", "telegram", "snapchat"]
      if @api_client.config.client_side_validation && !allowable_values.include?(platform)
        fail ArgumentError, "invalid value for \"platform\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'profile_id' is set
      if @api_client.config.client_side_validation && profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'profile_id' when calling ConnectApi.get_connect_url"
      end
      # resource path
      local_var_path = '/v1/connect/{platform}'.sub('{' + 'platform' + '}', CGI.escape(platform.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'profileId'] = profile_id
      query_params[:'redirect_url'] = opts[:'redirect_url'] if !opts[:'redirect_url'].nil?
      query_params[:'headless'] = opts[:'headless'] if !opts[:'headless'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetConnectUrl200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConnectApi.get_connect_url",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#get_connect_url\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Facebook pages
    # Returns all Facebook pages the connected account has access to, including the currently selected page.
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetFacebookPages200Response]
    def get_facebook_pages(account_id, opts = {})
      data, _status_code, _headers = get_facebook_pages_with_http_info(account_id, opts)
      data
    end

    # List Facebook pages
    # Returns all Facebook pages the connected account has access to, including the currently selected page.
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetFacebookPages200Response, Integer, Hash)>] GetFacebookPages200Response data, response status code and response headers
    def get_facebook_pages_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.get_facebook_pages ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ConnectApi.get_facebook_pages"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/facebook-page'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetFacebookPages200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConnectApi.get_facebook_pages",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#get_facebook_pages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List GBP locations
    # Returns all Google Business Profile locations the connected account has access to, including the currently selected location.
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetGmbLocations200Response]
    def get_gmb_locations(account_id, opts = {})
      data, _status_code, _headers = get_gmb_locations_with_http_info(account_id, opts)
      data
    end

    # List GBP locations
    # Returns all Google Business Profile locations the connected account has access to, including the currently selected location.
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetGmbLocations200Response, Integer, Hash)>] GetGmbLocations200Response data, response status code and response headers
    def get_gmb_locations_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.get_gmb_locations ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ConnectApi.get_gmb_locations"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/gmb-locations'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetGmbLocations200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConnectApi.get_gmb_locations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#get_gmb_locations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List LinkedIn orgs
    # Returns LinkedIn organizations (company pages) the connected account has admin access to.
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetLinkedInOrganizations200Response]
    def get_linked_in_organizations(account_id, opts = {})
      data, _status_code, _headers = get_linked_in_organizations_with_http_info(account_id, opts)
      data
    end

    # List LinkedIn orgs
    # Returns LinkedIn organizations (company pages) the connected account has admin access to.
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetLinkedInOrganizations200Response, Integer, Hash)>] GetLinkedInOrganizations200Response data, response status code and response headers
    def get_linked_in_organizations_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.get_linked_in_organizations ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ConnectApi.get_linked_in_organizations"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/linkedin-organizations'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetLinkedInOrganizations200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConnectApi.get_linked_in_organizations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#get_linked_in_organizations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get pending OAuth data
    # Fetch pending OAuth data for headless mode using the pendingDataToken from the redirect URL. One-time use, expires after 10 minutes. No authentication required.
    # @param token [String] The pending data token from the OAuth redirect URL (pendingDataToken parameter)
    # @param [Hash] opts the optional parameters
    # @return [GetPendingOAuthData200Response]
    def get_pending_o_auth_data(token, opts = {})
      data, _status_code, _headers = get_pending_o_auth_data_with_http_info(token, opts)
      data
    end

    # Get pending OAuth data
    # Fetch pending OAuth data for headless mode using the pendingDataToken from the redirect URL. One-time use, expires after 10 minutes. No authentication required.
    # @param token [String] The pending data token from the OAuth redirect URL (pendingDataToken parameter)
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetPendingOAuthData200Response, Integer, Hash)>] GetPendingOAuthData200Response data, response status code and response headers
    def get_pending_o_auth_data_with_http_info(token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.get_pending_o_auth_data ...'
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling ConnectApi.get_pending_o_auth_data"
      end
      # resource path
      local_var_path = '/v1/connect/pending-data'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'token'] = token

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetPendingOAuthData200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConnectApi.get_pending_o_auth_data",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#get_pending_o_auth_data\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Pinterest boards
    # Returns the boards available for a connected Pinterest account. Use this to get a board ID when creating a Pinterest post.
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetPinterestBoards200Response]
    def get_pinterest_boards(account_id, opts = {})
      data, _status_code, _headers = get_pinterest_boards_with_http_info(account_id, opts)
      data
    end

    # List Pinterest boards
    # Returns the boards available for a connected Pinterest account. Use this to get a board ID when creating a Pinterest post.
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetPinterestBoards200Response, Integer, Hash)>] GetPinterestBoards200Response data, response status code and response headers
    def get_pinterest_boards_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.get_pinterest_boards ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ConnectApi.get_pinterest_boards"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/pinterest-boards'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetPinterestBoards200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConnectApi.get_pinterest_boards",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#get_pinterest_boards\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List subreddit flairs
    # Returns available post flairs for a subreddit. Some subreddits require a flair when posting.
    # @param account_id [String] 
    # @param subreddit [String] Subreddit name (without \&quot;r/\&quot; prefix) to fetch flairs for
    # @param [Hash] opts the optional parameters
    # @return [GetRedditFlairs200Response]
    def get_reddit_flairs(account_id, subreddit, opts = {})
      data, _status_code, _headers = get_reddit_flairs_with_http_info(account_id, subreddit, opts)
      data
    end

    # List subreddit flairs
    # Returns available post flairs for a subreddit. Some subreddits require a flair when posting.
    # @param account_id [String] 
    # @param subreddit [String] Subreddit name (without \&quot;r/\&quot; prefix) to fetch flairs for
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetRedditFlairs200Response, Integer, Hash)>] GetRedditFlairs200Response data, response status code and response headers
    def get_reddit_flairs_with_http_info(account_id, subreddit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.get_reddit_flairs ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ConnectApi.get_reddit_flairs"
      end
      # verify the required parameter 'subreddit' is set
      if @api_client.config.client_side_validation && subreddit.nil?
        fail ArgumentError, "Missing the required parameter 'subreddit' when calling ConnectApi.get_reddit_flairs"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/reddit-flairs'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'subreddit'] = subreddit

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetRedditFlairs200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConnectApi.get_reddit_flairs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#get_reddit_flairs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Reddit subreddits
    # Returns the subreddits the connected Reddit account can post to. Use this to get a subreddit name when creating a Reddit post.
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetRedditSubreddits200Response]
    def get_reddit_subreddits(account_id, opts = {})
      data, _status_code, _headers = get_reddit_subreddits_with_http_info(account_id, opts)
      data
    end

    # List Reddit subreddits
    # Returns the subreddits the connected Reddit account can post to. Use this to get a subreddit name when creating a Reddit post.
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetRedditSubreddits200Response, Integer, Hash)>] GetRedditSubreddits200Response data, response status code and response headers
    def get_reddit_subreddits_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.get_reddit_subreddits ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ConnectApi.get_reddit_subreddits"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/reddit-subreddits'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetRedditSubreddits200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConnectApi.get_reddit_subreddits",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#get_reddit_subreddits\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Generate Telegram code
    # Generate an access code (valid 15 minutes) for connecting a Telegram channel or group. Add the bot as admin, then send the code + @yourchannel to the bot. Poll PATCH /v1/connect/telegram to check status.
    # @param profile_id [String] The profile ID to connect the Telegram account to
    # @param [Hash] opts the optional parameters
    # @return [GetTelegramConnectStatus200Response]
    def get_telegram_connect_status(profile_id, opts = {})
      data, _status_code, _headers = get_telegram_connect_status_with_http_info(profile_id, opts)
      data
    end

    # Generate Telegram code
    # Generate an access code (valid 15 minutes) for connecting a Telegram channel or group. Add the bot as admin, then send the code + @yourchannel to the bot. Poll PATCH /v1/connect/telegram to check status.
    # @param profile_id [String] The profile ID to connect the Telegram account to
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetTelegramConnectStatus200Response, Integer, Hash)>] GetTelegramConnectStatus200Response data, response status code and response headers
    def get_telegram_connect_status_with_http_info(profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.get_telegram_connect_status ...'
      end
      # verify the required parameter 'profile_id' is set
      if @api_client.config.client_side_validation && profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'profile_id' when calling ConnectApi.get_telegram_connect_status"
      end
      # resource path
      local_var_path = '/v1/connect/telegram'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'profileId'] = profile_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetTelegramConnectStatus200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConnectApi.get_telegram_connect_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#get_telegram_connect_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Complete OAuth callback
    # Exchange the OAuth authorization code for tokens and connect the account to the specified profile.
    # @param platform [String] 
    # @param handle_o_auth_callback_request [HandleOAuthCallbackRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def handle_o_auth_callback(platform, handle_o_auth_callback_request, opts = {})
      handle_o_auth_callback_with_http_info(platform, handle_o_auth_callback_request, opts)
      nil
    end

    # Complete OAuth callback
    # Exchange the OAuth authorization code for tokens and connect the account to the specified profile.
    # @param platform [String] 
    # @param handle_o_auth_callback_request [HandleOAuthCallbackRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def handle_o_auth_callback_with_http_info(platform, handle_o_auth_callback_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.handle_o_auth_callback ...'
      end
      # verify the required parameter 'platform' is set
      if @api_client.config.client_side_validation && platform.nil?
        fail ArgumentError, "Missing the required parameter 'platform' when calling ConnectApi.handle_o_auth_callback"
      end
      # verify the required parameter 'handle_o_auth_callback_request' is set
      if @api_client.config.client_side_validation && handle_o_auth_callback_request.nil?
        fail ArgumentError, "Missing the required parameter 'handle_o_auth_callback_request' when calling ConnectApi.handle_o_auth_callback"
      end
      # resource path
      local_var_path = '/v1/connect/{platform}'.sub('{' + 'platform' + '}', CGI.escape(platform.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(handle_o_auth_callback_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConnectApi.handle_o_auth_callback",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#handle_o_auth_callback\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Connect Telegram directly
    # Connect a Telegram channel/group directly using the chat ID. Alternative to the access code flow. The bot must already be an admin in the channel/group.
    # @param initiate_telegram_connect_request [InitiateTelegramConnectRequest] 
    # @param [Hash] opts the optional parameters
    # @return [InitiateTelegramConnect200Response]
    def initiate_telegram_connect(initiate_telegram_connect_request, opts = {})
      data, _status_code, _headers = initiate_telegram_connect_with_http_info(initiate_telegram_connect_request, opts)
      data
    end

    # Connect Telegram directly
    # Connect a Telegram channel/group directly using the chat ID. Alternative to the access code flow. The bot must already be an admin in the channel/group.
    # @param initiate_telegram_connect_request [InitiateTelegramConnectRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InitiateTelegramConnect200Response, Integer, Hash)>] InitiateTelegramConnect200Response data, response status code and response headers
    def initiate_telegram_connect_with_http_info(initiate_telegram_connect_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.initiate_telegram_connect ...'
      end
      # verify the required parameter 'initiate_telegram_connect_request' is set
      if @api_client.config.client_side_validation && initiate_telegram_connect_request.nil?
        fail ArgumentError, "Missing the required parameter 'initiate_telegram_connect_request' when calling ConnectApi.initiate_telegram_connect"
      end
      # resource path
      local_var_path = '/v1/connect/telegram'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(initiate_telegram_connect_request)

      # return_type
      return_type = opts[:debug_return_type] || 'InitiateTelegramConnect200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConnectApi.initiate_telegram_connect",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#initiate_telegram_connect\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Facebook pages
    # Returns the list of Facebook Pages the user can manage after OAuth. Extract tempToken and userProfile from the OAuth redirect params and pass them here. Use the X-Connect-Token header if connecting via API key.
    # @param profile_id [String] Profile ID from your connection flow
    # @param temp_token [String] Temporary Facebook access token from the OAuth callback redirect
    # @param [Hash] opts the optional parameters
    # @return [ListFacebookPages200Response]
    def list_facebook_pages(profile_id, temp_token, opts = {})
      data, _status_code, _headers = list_facebook_pages_with_http_info(profile_id, temp_token, opts)
      data
    end

    # List Facebook pages
    # Returns the list of Facebook Pages the user can manage after OAuth. Extract tempToken and userProfile from the OAuth redirect params and pass them here. Use the X-Connect-Token header if connecting via API key.
    # @param profile_id [String] Profile ID from your connection flow
    # @param temp_token [String] Temporary Facebook access token from the OAuth callback redirect
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListFacebookPages200Response, Integer, Hash)>] ListFacebookPages200Response data, response status code and response headers
    def list_facebook_pages_with_http_info(profile_id, temp_token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.list_facebook_pages ...'
      end
      # verify the required parameter 'profile_id' is set
      if @api_client.config.client_side_validation && profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'profile_id' when calling ConnectApi.list_facebook_pages"
      end
      # verify the required parameter 'temp_token' is set
      if @api_client.config.client_side_validation && temp_token.nil?
        fail ArgumentError, "Missing the required parameter 'temp_token' when calling ConnectApi.list_facebook_pages"
      end
      # resource path
      local_var_path = '/v1/connect/facebook/select-page'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'profileId'] = profile_id
      query_params[:'tempToken'] = temp_token

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListFacebookPages200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['connectToken', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ConnectApi.list_facebook_pages",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#list_facebook_pages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List GBP locations
    # For headless flows. Returns the list of GBP locations the user can manage. Use X-Connect-Token if connecting via API key.
    # @param profile_id [String] Profile ID from your connection flow
    # @param temp_token [String] Temporary Google access token from the OAuth callback redirect
    # @param [Hash] opts the optional parameters
    # @return [ListGoogleBusinessLocations200Response]
    def list_google_business_locations(profile_id, temp_token, opts = {})
      data, _status_code, _headers = list_google_business_locations_with_http_info(profile_id, temp_token, opts)
      data
    end

    # List GBP locations
    # For headless flows. Returns the list of GBP locations the user can manage. Use X-Connect-Token if connecting via API key.
    # @param profile_id [String] Profile ID from your connection flow
    # @param temp_token [String] Temporary Google access token from the OAuth callback redirect
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListGoogleBusinessLocations200Response, Integer, Hash)>] ListGoogleBusinessLocations200Response data, response status code and response headers
    def list_google_business_locations_with_http_info(profile_id, temp_token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.list_google_business_locations ...'
      end
      # verify the required parameter 'profile_id' is set
      if @api_client.config.client_side_validation && profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'profile_id' when calling ConnectApi.list_google_business_locations"
      end
      # verify the required parameter 'temp_token' is set
      if @api_client.config.client_side_validation && temp_token.nil?
        fail ArgumentError, "Missing the required parameter 'temp_token' when calling ConnectApi.list_google_business_locations"
      end
      # resource path
      local_var_path = '/v1/connect/googlebusiness/locations'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'profileId'] = profile_id
      query_params[:'tempToken'] = temp_token

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListGoogleBusinessLocations200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['connectToken', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ConnectApi.list_google_business_locations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#list_google_business_locations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List LinkedIn orgs
    # Fetch full LinkedIn organization details (logos, vanity names, websites) for custom UI. No authentication required, just the tempToken from OAuth.
    # @param temp_token [String] The temporary LinkedIn access token from the OAuth redirect
    # @param org_ids [String] Comma-separated list of organization IDs to fetch details for (max 100)
    # @param [Hash] opts the optional parameters
    # @return [ListLinkedInOrganizations200Response]
    def list_linked_in_organizations(temp_token, org_ids, opts = {})
      data, _status_code, _headers = list_linked_in_organizations_with_http_info(temp_token, org_ids, opts)
      data
    end

    # List LinkedIn orgs
    # Fetch full LinkedIn organization details (logos, vanity names, websites) for custom UI. No authentication required, just the tempToken from OAuth.
    # @param temp_token [String] The temporary LinkedIn access token from the OAuth redirect
    # @param org_ids [String] Comma-separated list of organization IDs to fetch details for (max 100)
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListLinkedInOrganizations200Response, Integer, Hash)>] ListLinkedInOrganizations200Response data, response status code and response headers
    def list_linked_in_organizations_with_http_info(temp_token, org_ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.list_linked_in_organizations ...'
      end
      # verify the required parameter 'temp_token' is set
      if @api_client.config.client_side_validation && temp_token.nil?
        fail ArgumentError, "Missing the required parameter 'temp_token' when calling ConnectApi.list_linked_in_organizations"
      end
      # verify the required parameter 'org_ids' is set
      if @api_client.config.client_side_validation && org_ids.nil?
        fail ArgumentError, "Missing the required parameter 'org_ids' when calling ConnectApi.list_linked_in_organizations"
      end
      # resource path
      local_var_path = '/v1/connect/linkedin/organizations'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tempToken'] = temp_token
      query_params[:'orgIds'] = org_ids

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListLinkedInOrganizations200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConnectApi.list_linked_in_organizations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#list_linked_in_organizations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Pinterest boards
    # For headless flows. Returns Pinterest boards the user can post to. Use X-Connect-Token from the redirect URL.
    # @param x_connect_token [String] Short-lived connect token from the OAuth redirect
    # @param profile_id [String] Your Late profile ID
    # @param temp_token [String] Temporary Pinterest access token from the OAuth callback redirect
    # @param [Hash] opts the optional parameters
    # @return [ListPinterestBoardsForSelection200Response]
    def list_pinterest_boards_for_selection(x_connect_token, profile_id, temp_token, opts = {})
      data, _status_code, _headers = list_pinterest_boards_for_selection_with_http_info(x_connect_token, profile_id, temp_token, opts)
      data
    end

    # List Pinterest boards
    # For headless flows. Returns Pinterest boards the user can post to. Use X-Connect-Token from the redirect URL.
    # @param x_connect_token [String] Short-lived connect token from the OAuth redirect
    # @param profile_id [String] Your Late profile ID
    # @param temp_token [String] Temporary Pinterest access token from the OAuth callback redirect
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListPinterestBoardsForSelection200Response, Integer, Hash)>] ListPinterestBoardsForSelection200Response data, response status code and response headers
    def list_pinterest_boards_for_selection_with_http_info(x_connect_token, profile_id, temp_token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.list_pinterest_boards_for_selection ...'
      end
      # verify the required parameter 'x_connect_token' is set
      if @api_client.config.client_side_validation && x_connect_token.nil?
        fail ArgumentError, "Missing the required parameter 'x_connect_token' when calling ConnectApi.list_pinterest_boards_for_selection"
      end
      # verify the required parameter 'profile_id' is set
      if @api_client.config.client_side_validation && profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'profile_id' when calling ConnectApi.list_pinterest_boards_for_selection"
      end
      # verify the required parameter 'temp_token' is set
      if @api_client.config.client_side_validation && temp_token.nil?
        fail ArgumentError, "Missing the required parameter 'temp_token' when calling ConnectApi.list_pinterest_boards_for_selection"
      end
      # resource path
      local_var_path = '/v1/connect/pinterest/select-board'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'profileId'] = profile_id
      query_params[:'tempToken'] = temp_token

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Connect-Token'] = x_connect_token

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListPinterestBoardsForSelection200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConnectApi.list_pinterest_boards_for_selection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#list_pinterest_boards_for_selection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Snapchat profiles
    # For headless flows. Returns Snapchat Public Profiles the user can post to. Use X-Connect-Token from the redirect URL.
    # @param x_connect_token [String] Short-lived connect token from the OAuth redirect
    # @param profile_id [String] Your Late profile ID
    # @param temp_token [String] Temporary Snapchat access token from the OAuth callback redirect
    # @param [Hash] opts the optional parameters
    # @return [ListSnapchatProfiles200Response]
    def list_snapchat_profiles(x_connect_token, profile_id, temp_token, opts = {})
      data, _status_code, _headers = list_snapchat_profiles_with_http_info(x_connect_token, profile_id, temp_token, opts)
      data
    end

    # List Snapchat profiles
    # For headless flows. Returns Snapchat Public Profiles the user can post to. Use X-Connect-Token from the redirect URL.
    # @param x_connect_token [String] Short-lived connect token from the OAuth redirect
    # @param profile_id [String] Your Late profile ID
    # @param temp_token [String] Temporary Snapchat access token from the OAuth callback redirect
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListSnapchatProfiles200Response, Integer, Hash)>] ListSnapchatProfiles200Response data, response status code and response headers
    def list_snapchat_profiles_with_http_info(x_connect_token, profile_id, temp_token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.list_snapchat_profiles ...'
      end
      # verify the required parameter 'x_connect_token' is set
      if @api_client.config.client_side_validation && x_connect_token.nil?
        fail ArgumentError, "Missing the required parameter 'x_connect_token' when calling ConnectApi.list_snapchat_profiles"
      end
      # verify the required parameter 'profile_id' is set
      if @api_client.config.client_side_validation && profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'profile_id' when calling ConnectApi.list_snapchat_profiles"
      end
      # verify the required parameter 'temp_token' is set
      if @api_client.config.client_side_validation && temp_token.nil?
        fail ArgumentError, "Missing the required parameter 'temp_token' when calling ConnectApi.list_snapchat_profiles"
      end
      # resource path
      local_var_path = '/v1/connect/snapchat/select-profile'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'profileId'] = profile_id
      query_params[:'tempToken'] = temp_token

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Connect-Token'] = x_connect_token

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListSnapchatProfiles200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConnectApi.list_snapchat_profiles",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#list_snapchat_profiles\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Select Facebook page
    # Complete the headless flow by saving the user's selected Facebook page. Pass the userProfile from the OAuth redirect and use X-Connect-Token if connecting via API key.
    # @param select_facebook_page_request [SelectFacebookPageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SelectFacebookPage200Response]
    def select_facebook_page(select_facebook_page_request, opts = {})
      data, _status_code, _headers = select_facebook_page_with_http_info(select_facebook_page_request, opts)
      data
    end

    # Select Facebook page
    # Complete the headless flow by saving the user&#39;s selected Facebook page. Pass the userProfile from the OAuth redirect and use X-Connect-Token if connecting via API key.
    # @param select_facebook_page_request [SelectFacebookPageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SelectFacebookPage200Response, Integer, Hash)>] SelectFacebookPage200Response data, response status code and response headers
    def select_facebook_page_with_http_info(select_facebook_page_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.select_facebook_page ...'
      end
      # verify the required parameter 'select_facebook_page_request' is set
      if @api_client.config.client_side_validation && select_facebook_page_request.nil?
        fail ArgumentError, "Missing the required parameter 'select_facebook_page_request' when calling ConnectApi.select_facebook_page"
      end
      # resource path
      local_var_path = '/v1/connect/facebook/select-page'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(select_facebook_page_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SelectFacebookPage200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['connectToken', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ConnectApi.select_facebook_page",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#select_facebook_page\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Select GBP location
    # Complete the headless flow by saving the user's selected GBP location. Include userProfile from the OAuth redirect (contains refresh token). Use X-Connect-Token if connecting via API key.
    # @param select_google_business_location_request [SelectGoogleBusinessLocationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SelectGoogleBusinessLocation200Response]
    def select_google_business_location(select_google_business_location_request, opts = {})
      data, _status_code, _headers = select_google_business_location_with_http_info(select_google_business_location_request, opts)
      data
    end

    # Select GBP location
    # Complete the headless flow by saving the user&#39;s selected GBP location. Include userProfile from the OAuth redirect (contains refresh token). Use X-Connect-Token if connecting via API key.
    # @param select_google_business_location_request [SelectGoogleBusinessLocationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SelectGoogleBusinessLocation200Response, Integer, Hash)>] SelectGoogleBusinessLocation200Response data, response status code and response headers
    def select_google_business_location_with_http_info(select_google_business_location_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.select_google_business_location ...'
      end
      # verify the required parameter 'select_google_business_location_request' is set
      if @api_client.config.client_side_validation && select_google_business_location_request.nil?
        fail ArgumentError, "Missing the required parameter 'select_google_business_location_request' when calling ConnectApi.select_google_business_location"
      end
      # resource path
      local_var_path = '/v1/connect/googlebusiness/select-location'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(select_google_business_location_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SelectGoogleBusinessLocation200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['connectToken', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ConnectApi.select_google_business_location",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#select_google_business_location\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Select LinkedIn org
    # Complete the LinkedIn connection flow. Set accountType to \"personal\" or \"organization\" to connect as a company page. Use X-Connect-Token if connecting via API key.
    # @param select_linked_in_organization_request [SelectLinkedInOrganizationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SelectLinkedInOrganization200Response]
    def select_linked_in_organization(select_linked_in_organization_request, opts = {})
      data, _status_code, _headers = select_linked_in_organization_with_http_info(select_linked_in_organization_request, opts)
      data
    end

    # Select LinkedIn org
    # Complete the LinkedIn connection flow. Set accountType to \&quot;personal\&quot; or \&quot;organization\&quot; to connect as a company page. Use X-Connect-Token if connecting via API key.
    # @param select_linked_in_organization_request [SelectLinkedInOrganizationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SelectLinkedInOrganization200Response, Integer, Hash)>] SelectLinkedInOrganization200Response data, response status code and response headers
    def select_linked_in_organization_with_http_info(select_linked_in_organization_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.select_linked_in_organization ...'
      end
      # verify the required parameter 'select_linked_in_organization_request' is set
      if @api_client.config.client_side_validation && select_linked_in_organization_request.nil?
        fail ArgumentError, "Missing the required parameter 'select_linked_in_organization_request' when calling ConnectApi.select_linked_in_organization"
      end
      # resource path
      local_var_path = '/v1/connect/linkedin/select-organization'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(select_linked_in_organization_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SelectLinkedInOrganization200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConnectApi.select_linked_in_organization",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#select_linked_in_organization\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Select Pinterest board
    # Complete the Pinterest connection flow. After OAuth, use this endpoint to save the selected board and complete the account connection. Use the X-Connect-Token header if you initiated the connection via API key. 
    # @param select_pinterest_board_request [SelectPinterestBoardRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SelectPinterestBoard200Response]
    def select_pinterest_board(select_pinterest_board_request, opts = {})
      data, _status_code, _headers = select_pinterest_board_with_http_info(select_pinterest_board_request, opts)
      data
    end

    # Select Pinterest board
    # Complete the Pinterest connection flow. After OAuth, use this endpoint to save the selected board and complete the account connection. Use the X-Connect-Token header if you initiated the connection via API key. 
    # @param select_pinterest_board_request [SelectPinterestBoardRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SelectPinterestBoard200Response, Integer, Hash)>] SelectPinterestBoard200Response data, response status code and response headers
    def select_pinterest_board_with_http_info(select_pinterest_board_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.select_pinterest_board ...'
      end
      # verify the required parameter 'select_pinterest_board_request' is set
      if @api_client.config.client_side_validation && select_pinterest_board_request.nil?
        fail ArgumentError, "Missing the required parameter 'select_pinterest_board_request' when calling ConnectApi.select_pinterest_board"
      end
      # resource path
      local_var_path = '/v1/connect/pinterest/select-board'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(select_pinterest_board_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SelectPinterestBoard200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConnectApi.select_pinterest_board",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#select_pinterest_board\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Select Snapchat profile
    # Complete the Snapchat connection flow by saving the selected Public Profile. Snapchat requires a Public Profile to publish content. Use X-Connect-Token if connecting via API key.
    # @param select_snapchat_profile_request [SelectSnapchatProfileRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_connect_token Short-lived connect token from the OAuth redirect (for API users)
    # @return [SelectSnapchatProfile200Response]
    def select_snapchat_profile(select_snapchat_profile_request, opts = {})
      data, _status_code, _headers = select_snapchat_profile_with_http_info(select_snapchat_profile_request, opts)
      data
    end

    # Select Snapchat profile
    # Complete the Snapchat connection flow by saving the selected Public Profile. Snapchat requires a Public Profile to publish content. Use X-Connect-Token if connecting via API key.
    # @param select_snapchat_profile_request [SelectSnapchatProfileRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_connect_token Short-lived connect token from the OAuth redirect (for API users)
    # @return [Array<(SelectSnapchatProfile200Response, Integer, Hash)>] SelectSnapchatProfile200Response data, response status code and response headers
    def select_snapchat_profile_with_http_info(select_snapchat_profile_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.select_snapchat_profile ...'
      end
      # verify the required parameter 'select_snapchat_profile_request' is set
      if @api_client.config.client_side_validation && select_snapchat_profile_request.nil?
        fail ArgumentError, "Missing the required parameter 'select_snapchat_profile_request' when calling ConnectApi.select_snapchat_profile"
      end
      # resource path
      local_var_path = '/v1/connect/snapchat/select-profile'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Connect-Token'] = opts[:'x_connect_token'] if !opts[:'x_connect_token'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(select_snapchat_profile_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SelectSnapchatProfile200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConnectApi.select_snapchat_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#select_snapchat_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Facebook page
    # Switch which Facebook Page is active for a connected account.
    # @param account_id [String] 
    # @param update_facebook_page_request [UpdateFacebookPageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateFacebookPage200Response]
    def update_facebook_page(account_id, update_facebook_page_request, opts = {})
      data, _status_code, _headers = update_facebook_page_with_http_info(account_id, update_facebook_page_request, opts)
      data
    end

    # Update Facebook page
    # Switch which Facebook Page is active for a connected account.
    # @param account_id [String] 
    # @param update_facebook_page_request [UpdateFacebookPageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateFacebookPage200Response, Integer, Hash)>] UpdateFacebookPage200Response data, response status code and response headers
    def update_facebook_page_with_http_info(account_id, update_facebook_page_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.update_facebook_page ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ConnectApi.update_facebook_page"
      end
      # verify the required parameter 'update_facebook_page_request' is set
      if @api_client.config.client_side_validation && update_facebook_page_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_facebook_page_request' when calling ConnectApi.update_facebook_page"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/facebook-page'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_facebook_page_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateFacebookPage200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConnectApi.update_facebook_page",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#update_facebook_page\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update GBP location
    # Switch which GBP location is active for a connected account.
    # @param account_id [String] 
    # @param update_gmb_location_request [UpdateGmbLocationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateGmbLocation200Response]
    def update_gmb_location(account_id, update_gmb_location_request, opts = {})
      data, _status_code, _headers = update_gmb_location_with_http_info(account_id, update_gmb_location_request, opts)
      data
    end

    # Update GBP location
    # Switch which GBP location is active for a connected account.
    # @param account_id [String] 
    # @param update_gmb_location_request [UpdateGmbLocationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateGmbLocation200Response, Integer, Hash)>] UpdateGmbLocation200Response data, response status code and response headers
    def update_gmb_location_with_http_info(account_id, update_gmb_location_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.update_gmb_location ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ConnectApi.update_gmb_location"
      end
      # verify the required parameter 'update_gmb_location_request' is set
      if @api_client.config.client_side_validation && update_gmb_location_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_gmb_location_request' when calling ConnectApi.update_gmb_location"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/gmb-locations'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_gmb_location_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateGmbLocation200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConnectApi.update_gmb_location",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#update_gmb_location\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Switch LinkedIn account type
    # Switch a LinkedIn account between personal profile and organization (company page) posting.
    # @param account_id [String] 
    # @param update_linked_in_organization_request [UpdateLinkedInOrganizationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ConnectBlueskyCredentials200Response]
    def update_linked_in_organization(account_id, update_linked_in_organization_request, opts = {})
      data, _status_code, _headers = update_linked_in_organization_with_http_info(account_id, update_linked_in_organization_request, opts)
      data
    end

    # Switch LinkedIn account type
    # Switch a LinkedIn account between personal profile and organization (company page) posting.
    # @param account_id [String] 
    # @param update_linked_in_organization_request [UpdateLinkedInOrganizationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConnectBlueskyCredentials200Response, Integer, Hash)>] ConnectBlueskyCredentials200Response data, response status code and response headers
    def update_linked_in_organization_with_http_info(account_id, update_linked_in_organization_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.update_linked_in_organization ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ConnectApi.update_linked_in_organization"
      end
      # verify the required parameter 'update_linked_in_organization_request' is set
      if @api_client.config.client_side_validation && update_linked_in_organization_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_linked_in_organization_request' when calling ConnectApi.update_linked_in_organization"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/linkedin-organization'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_linked_in_organization_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ConnectBlueskyCredentials200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConnectApi.update_linked_in_organization",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#update_linked_in_organization\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set default Pinterest board
    # Sets the default board used when publishing pins for this account.
    # @param account_id [String] 
    # @param update_pinterest_boards_request [UpdatePinterestBoardsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ConnectBlueskyCredentials200Response]
    def update_pinterest_boards(account_id, update_pinterest_boards_request, opts = {})
      data, _status_code, _headers = update_pinterest_boards_with_http_info(account_id, update_pinterest_boards_request, opts)
      data
    end

    # Set default Pinterest board
    # Sets the default board used when publishing pins for this account.
    # @param account_id [String] 
    # @param update_pinterest_boards_request [UpdatePinterestBoardsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConnectBlueskyCredentials200Response, Integer, Hash)>] ConnectBlueskyCredentials200Response data, response status code and response headers
    def update_pinterest_boards_with_http_info(account_id, update_pinterest_boards_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.update_pinterest_boards ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ConnectApi.update_pinterest_boards"
      end
      # verify the required parameter 'update_pinterest_boards_request' is set
      if @api_client.config.client_side_validation && update_pinterest_boards_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_pinterest_boards_request' when calling ConnectApi.update_pinterest_boards"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/pinterest-boards'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_pinterest_boards_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ConnectBlueskyCredentials200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConnectApi.update_pinterest_boards",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#update_pinterest_boards\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set default subreddit
    # Sets the default subreddit used when publishing posts for this Reddit account.
    # @param account_id [String] 
    # @param update_reddit_subreddits_request [UpdateRedditSubredditsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateRedditSubreddits200Response]
    def update_reddit_subreddits(account_id, update_reddit_subreddits_request, opts = {})
      data, _status_code, _headers = update_reddit_subreddits_with_http_info(account_id, update_reddit_subreddits_request, opts)
      data
    end

    # Set default subreddit
    # Sets the default subreddit used when publishing posts for this Reddit account.
    # @param account_id [String] 
    # @param update_reddit_subreddits_request [UpdateRedditSubredditsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateRedditSubreddits200Response, Integer, Hash)>] UpdateRedditSubreddits200Response data, response status code and response headers
    def update_reddit_subreddits_with_http_info(account_id, update_reddit_subreddits_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.update_reddit_subreddits ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ConnectApi.update_reddit_subreddits"
      end
      # verify the required parameter 'update_reddit_subreddits_request' is set
      if @api_client.config.client_side_validation && update_reddit_subreddits_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_reddit_subreddits_request' when calling ConnectApi.update_reddit_subreddits"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/reddit-subreddits'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_reddit_subreddits_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateRedditSubreddits200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConnectApi.update_reddit_subreddits",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#update_reddit_subreddits\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
